Repository stillmine/packages: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint, textlint, yarn typecheck, yarn test

fix: add patch into resolution (#134)
  .pnp.js
  .yarn/cache/@lerna-npm-publish-patch-3deafe1136-064f4e54ec.zip
  package.json
  yarn.lock
Due: yarn lint

fix(react-components): fix type errors
  packages/react-components/src/Modal/Modal.tsx
  packages/react-components/src/Modal/mod.ts
  packages/react-components/src/Table/Table.tsx
  packages/react-components/src/Table/TableCell.tsx
  packages/react-components/src/Table/TableRow.tsx
  packages/react-components/src/Table/mod.ts
  packages/react-components/src/card.tsx
  packages/react-components/src/modal.tsx
  packages/react-components/src/progress.tsx
  packages/react-components/src/table.tsx
Due: yarn lint, yarn typecheck, yarn test

feat(hooks): add useSafeLayoutEffect (#133)
  .pnp.js
  .yarn/cache/@babel-core-npm-7.14.3-9181aae4d9-4bc2d1abf5.zip
  .yarn/cache/@babel-generator-npm-7.14.3-3bb0a82750-519fce36f3.zip
  .yarn/cache/@babel-parser-npm-7.14.3-4c3311dd2f-5e8d1b2bfc.zip
  .yarn/cache/@babel-plugin-transform-runtime-npm-7.14.2-c3c6de9b9b-2ae5f26f97.zip
  .yarn/cache/@babel-runtime-npm-7.14.0-fba2a32266-ab6653f2f8.zip
  .yarn/cache/@rollup-plugin-babel-npm-5.3.0-944843ffd9-44efa786f2.zip
  .yarn/cache/@rollup-plugin-node-resolve-npm-13.0.0-c6322a1c60-4b323e8ad5.zip
  .yarn/cache/@rollup-pluginutils-npm-3.1.0-b44b222e7d-45da6411e0.zip
  .yarn/cache/@testing-library-react-hooks-npm-5.1.2-1c7503f518-d1a1cfeb1c.zip
  .yarn/cache/@testing-library-react-hooks-npm-6.0.0-78e13df09c-9c7fd8be18.zip
  .yarn/cache/@types-estree-npm-0.0.39-f898500e96-43e5361de3.zip
  .yarn/cache/@types-react-npm-17.0.6-e56f24c908-dcd8e559f7.zip
  .yarn/cache/@types-resolve-npm-1.17.1-9a8396bef2-8e72a73574.zip
  .yarn/cache/builtin-modules-npm-3.2.0-ef7266e931-f0e7240f70.zip
  .yarn/cache/estree-walker-npm-1.0.1-e916593b23-85e7cee763.zip
  .yarn/cache/is-module-npm-1.0.0-79ba918283-2cbd41e276.zip
  .yarn/cache/rollup-npm-2.48.0-70f984c31b-3f50c1e023.zip
  package.json
  packages/hooks/.babelrc
  packages/hooks/.npmignore
  packages/hooks/package.json
  packages/hooks/rollup.config.js
  packages/hooks/src/mod.ts
  packages/hooks/src/useBoolean.ts
  packages/hooks/src/useSafeLayoutEffect.ts
  packages/hooks/src/useVisible.ts
  packages/hooks/tsconfig.build.json
  packages/hooks/tsconfig.json
  packages/react-components/src/Modal/Modal.tsx
  packages/react-components/src/Modal/mod.ts
  packages/react-components/src/Table/Table.tsx
  packages/react-components/src/Table/TableCell.tsx
  packages/react-components/src/Table/TableRow.tsx
  packages/react-components/src/Table/mod.ts
  packages/react-components/src/card.tsx
  packages/react-components/src/modal.tsx
  packages/react-components/src/progress.tsx
  packages/react-components/src/table.tsx
  yarn.lock
Due: yarn lint, yarn typecheck, yarn test

chore: publish v0.2.0
  CHANGELOG.md
  examples/with-next/CHANGELOG.md
  examples/with-next/package.json
  lerna.json
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/eslint-config/CHANGELOG.md
  packages/eslint-config/package.json
  packages/hooks/CHANGELOG.md
  packages/hooks/package.json
  packages/next-config/CHANGELOG.md
  packages/next-config/package.json
  packages/react-components/CHANGELOG.md
  packages/react-components/package.json
  packages/rollup-config/CHANGELOG.md
  packages/rollup-config/package.json
  packages/styles/CHANGELOG.md
  packages/styles/package.json
  packages/tsconfig/CHANGELOG.md
  packages/tsconfig/package.json
  packages/types/CHANGELOG.md
  packages/types/package.json
  packages/units/CHANGELOG.md
  packages/units/package.json
  packages/utils/CHANGELOG.md
  packages/utils/package.json
  packages/validator/CHANGELOG.md
  packages/validator/package.json
  packages/webpack-config/CHANGELOG.md
  packages/webpack-config/package.json
Due: textlint

fix(react-components): fix type errors
  .pnp.js
  .yarn/cache/@babel-core-npm-7.14.2-1f05a9f0fb-16dc0a5248.zip
  .yarn/cache/@rollup-plugin-babel-npm-5.3.0-944843ffd9-44efa786f2.zip
  .yarn/cache/@rollup-plugin-commonjs-npm-19.0.0-88bac5bc61-e6dd7c68f5.zip
  .yarn/cache/@rollup-plugin-node-resolve-npm-13.0.0-c6322a1c60-4b323e8ad5.zip
  .yarn/cache/@rollup-pluginutils-npm-3.1.0-b44b222e7d-45da6411e0.zip
  .yarn/cache/@types-estree-npm-0.0.39-f898500e96-43e5361de3.zip
  .yarn/cache/@types-resolve-npm-1.17.1-9a8396bef2-8e72a73574.zip
  .yarn/cache/builtin-modules-npm-3.2.0-ef7266e931-f0e7240f70.zip
  .yarn/cache/estree-walker-npm-1.0.1-e916593b23-85e7cee763.zip
  .yarn/cache/estree-walker-npm-2.0.2-dfab42f65c-378cc9d3be.zip
  .yarn/cache/is-module-npm-1.0.0-79ba918283-2cbd41e276.zip
  .yarn/cache/is-reference-npm-1.2.1-87ca1743c8-9daa3d7c4d.zip
  .yarn/cache/magic-string-npm-0.25.7-0a0bd9c864-4b70c13eb2.zip
  .yarn/cache/react-error-boundary-npm-3.1.1-d8c2c7171c-8860975e5a.zip
  .yarn/cache/react-error-boundary-npm-3.1.3-df04a8391c-8b5294dd14.zip
  .yarn/cache/rollup-npm-2.48.0-70f984c31b-3f50c1e023.zip
  package.json
  packages/hooks/tsconfig.build.json
  packages/hooks/tsconfig.json
  packages/react-components/.npmignore
  packages/react-components/jest.config.js
  packages/react-components/package.json
  packages/react-components/rollup.config.js
  packages/react-components/src/Table/TableCell.tsx
  packages/react-components/src/Table/TableRow.tsx
  packages/react-components/tsconfig.build.json
  packages/react-components/tsconfig.cjs.json
  yarn.lock
Due: yarn lint, yarn typecheck, yarn test

fix(react-components): fix type errors (#135)
  .pnp.js
  .yarn/cache/@babel-core-npm-7.14.2-1f05a9f0fb-16dc0a5248.zip
  .yarn/cache/@rollup-plugin-babel-npm-5.3.0-944843ffd9-44efa786f2.zip
  .yarn/cache/@rollup-plugin-commonjs-npm-19.0.0-88bac5bc61-e6dd7c68f5.zip
  .yarn/cache/@rollup-plugin-node-resolve-npm-13.0.0-c6322a1c60-4b323e8ad5.zip
  .yarn/cache/@rollup-pluginutils-npm-3.1.0-b44b222e7d-45da6411e0.zip
  .yarn/cache/@types-estree-npm-0.0.39-f898500e96-43e5361de3.zip
  .yarn/cache/@types-resolve-npm-1.17.1-9a8396bef2-8e72a73574.zip
  .yarn/cache/builtin-modules-npm-3.2.0-ef7266e931-f0e7240f70.zip
  .yarn/cache/estree-walker-npm-1.0.1-e916593b23-85e7cee763.zip
  .yarn/cache/estree-walker-npm-2.0.2-dfab42f65c-378cc9d3be.zip
  .yarn/cache/is-module-npm-1.0.0-79ba918283-2cbd41e276.zip
  .yarn/cache/is-reference-npm-1.2.1-87ca1743c8-9daa3d7c4d.zip
  .yarn/cache/magic-string-npm-0.25.7-0a0bd9c864-4b70c13eb2.zip
  .yarn/cache/react-error-boundary-npm-3.1.1-d8c2c7171c-8860975e5a.zip
  .yarn/cache/react-error-boundary-npm-3.1.3-df04a8391c-8b5294dd14.zip
  .yarn/cache/rollup-npm-2.48.0-70f984c31b-3f50c1e023.zip
  package.json
  packages/hooks/tsconfig.build.json
  packages/hooks/tsconfig.json
  packages/react-components/.npmignore
  packages/react-components/jest.config.js
  packages/react-components/package.json
  packages/react-components/rollup.config.js
  packages/react-components/src/Table/TableCell.tsx
  packages/react-components/src/Table/TableRow.tsx
  packages/react-components/tsconfig.build.json
  packages/react-components/tsconfig.cjs.json
  yarn.lock
Due: yarn lint, yarn typecheck, yarn test

chore: publish v0.2.1
  CHANGELOG.md
  lerna.json
  packages/hooks/CHANGELOG.md
  packages/hooks/package.json
  packages/react-components/CHANGELOG.md
  packages/react-components/package.json
Due: textlint

fix(styles): modify build script
  .pnp.js
  packages/styles/.npmignore
  packages/styles/package.json
  packages/styles/tsconfig.cjs.json
  packages/styles/tsconfig.esm.json
  packages/styles/tsconfig.json
  yarn.lock
Due: yarn lint

fix(units): modify build script
  .pnp.js
  packages/units/.npmignore
  packages/units/package.json
  packages/units/tsconfig.json
  yarn.lock
Due: yarn lint

fix(styles): fix type errors
  packages/styles/tsconfig.json
Due: none

fix(units): modify build script (#137)
  .pnp.js
  packages/units/.npmignore
  packages/units/package.json
  packages/units/tsconfig.json
  yarn.lock
Due: yarn lint

fix(styles): modify build script (#136)
  .pnp.js
  packages/styles/.npmignore
  packages/styles/package.json
  packages/styles/tsconfig.cjs.json
  packages/styles/tsconfig.esm.json
  packages/styles/tsconfig.json
  yarn.lock
Due: yarn lint

fix(types,validator,webpack-config): modify build script
  .pnp.js
  .yarn/cache/@types-node-npm-14.14.45-65a5d246b5-b9ad381a8c.zip
  .yarn/cache/@types-node-npm-15.6.0-2f2269856c-54515155db.zip
  .yarn/cache/ajv-npm-8.5.0-66afc3cb37-91274ac662.zip
  .yarn/cache/dotenv-npm-10.0.0-36b272df25-9c45712e21.zip
  .yarn/cache/dotenv-npm-9.0.2-fd127dfe81-062a31a2fd.zip
  .yarn/cache/eslint-npm-7.27.0-864db248b7-c91a9a8809.zip
  .yarn/cache/lodash.clonedeep-npm-4.5.0-fbc3cda4e5-41e2fe4c57.zip
  .yarn/cache/lodash.merge-npm-4.6.2-77cb4416bf-4e2bb42a87.zip
  .yarn/cache/lodash.truncate-npm-4.4.2-bc50fe1663-b1b0d7d993.zip
  .yarn/cache/table-npm-6.7.1-7d70e55c6d-66107046b7.zip
  .yarn/cache/webpack-npm-5.37.1-1e75a59f6f-5fe030ea3f.zip
  packages/types/package.json
  packages/types/tsconfig.cjs.json
  packages/types/tsconfig.esm.json
  packages/types/tsconfig.json
  packages/validator/.npmignore
  packages/validator/package.json
  packages/validator/tsconfig.cjs.json
  packages/validator/tsconfig.esm.json
  packages/validator/tsconfig.json
  packages/webpack-config/.babelrc
  packages/webpack-config/.npmignore
  packages/webpack-config/bin/cli.js
  packages/webpack-config/config/create-config.js
  packages/webpack-config/config/env.js
  packages/webpack-config/config/path.js
  packages/webpack-config/config/webpack.config.common.js
  packages/webpack-config/config/webpack.config.dev.js
  packages/webpack-config/config/webpack.config.prod.js
  packages/webpack-config/package.json
  packages/webpack-config/rollup.config.js
  packages/webpack-config/scripts/build.js
  packages/webpack-config/scripts/watch.js
  packages/webpack-config/src/mod.ts
  packages/webpack-config/tsconfig.json
  packages/webpack-config/utils/index.js
  packages/webpack-config/utils/remove.js
  yarn.lock
Due: yarn lint, yarn typecheck, yarn test

ci: add git user config
  .github/workflows/release.yaml
Due: none

ci: add git user config (#139)
  .github/workflows/release.yaml
Due: none

fix(types,validator,webpack-config): modify build script (#138)
  .pnp.js
  .yarn/cache/@types-node-npm-14.14.45-65a5d246b5-b9ad381a8c.zip
  .yarn/cache/@types-node-npm-15.6.0-2f2269856c-54515155db.zip
  .yarn/cache/ajv-npm-8.5.0-66afc3cb37-91274ac662.zip
  .yarn/cache/dotenv-npm-10.0.0-36b272df25-9c45712e21.zip
  .yarn/cache/dotenv-npm-9.0.2-fd127dfe81-062a31a2fd.zip
  .yarn/cache/eslint-npm-7.27.0-864db248b7-c91a9a8809.zip
  .yarn/cache/lodash.clonedeep-npm-4.5.0-fbc3cda4e5-41e2fe4c57.zip
  .yarn/cache/lodash.merge-npm-4.6.2-77cb4416bf-4e2bb42a87.zip
  .yarn/cache/lodash.truncate-npm-4.4.2-bc50fe1663-b1b0d7d993.zip
  .yarn/cache/table-npm-6.7.1-7d70e55c6d-66107046b7.zip
  .yarn/cache/webpack-npm-5.37.1-1e75a59f6f-5fe030ea3f.zip
  packages/types/package.json
  packages/types/tsconfig.cjs.json
  packages/types/tsconfig.esm.json
  packages/types/tsconfig.json
  packages/validator/.npmignore
  packages/validator/package.json
  packages/validator/tsconfig.cjs.json
  packages/validator/tsconfig.esm.json
  packages/validator/tsconfig.json
  packages/webpack-config/.babelrc
  packages/webpack-config/.npmignore
  packages/webpack-config/bin/cli.js
  packages/webpack-config/config/create-config.js
  packages/webpack-config/config/env.js
  packages/webpack-config/config/path.js
  packages/webpack-config/config/webpack.config.common.js
  packages/webpack-config/config/webpack.config.dev.js
  packages/webpack-config/config/webpack.config.prod.js
  packages/webpack-config/package.json
  packages/webpack-config/rollup.config.js
  packages/webpack-config/scripts/build.js
  packages/webpack-config/scripts/watch.js
  packages/webpack-config/src/mod.ts
  packages/webpack-config/tsconfig.json
  packages/webpack-config/utils/index.js
  packages/webpack-config/utils/remove.js
  yarn.lock
Due: yarn lint, yarn typecheck, yarn test

ci: modify git user config
  .github/workflows/release.yaml
Due: none

ci: modify git user config (#140)
  .github/workflows/release.yaml
Due: none

chore: publish v0.2.2
  CHANGELOG.md
  examples/with-next/CHANGELOG.md
  examples/with-next/package.json
  lerna.json
  packages/react-components/CHANGELOG.md
  packages/react-components/package.json
  packages/styles/CHANGELOG.md
  packages/styles/package.json
  packages/types/CHANGELOG.md
  packages/types/package.json
  packages/units/CHANGELOG.md
  packages/units/package.json
  packages/validator/CHANGELOG.md
  packages/validator/package.json
  packages/webpack-config/CHANGELOG.md
  packages/webpack-config/package.json
Due: textlint

fix(react-components,styles): patch version up
  packages/react-components/package.json
  packages/styles/package.json
Due: none

fix(styles): add margin
  .github/workflows/release.yaml
  packages/styles/src/spacing/mod.ts
Due: yarn lint, yarn typecheck, yarn test

fix(styles): add margin (#141)
  .github/workflows/release.yaml
  packages/styles/src/spacing/mod.ts
Due: yarn lint, yarn typecheck, yarn test

chore: publish v0.2.4
  CHANGELOG.md
  lerna.json
  packages/react-components/CHANGELOG.md
  packages/react-components/package.json
  packages/styles/CHANGELOG.md
  packages/styles/package.json
Due: textlint

ci: publish => release:version
  .github/workflows/release.yaml
  package.json
Due: none

ci: publish => release:version (#142)
  .github/workflows/release.yaml
  package.json
Due: none

ci: add skip ci
  lerna.json
Due: none

ci: add build step
  .github/workflows/ci.yaml
Due: none

chore: publish v0.2.5 [skip ci]
  CHANGELOG.md
  examples/with-next/CHANGELOG.md
  examples/with-next/package.json
  lerna.json
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/eslint-config/CHANGELOG.md
  packages/eslint-config/package.json
  packages/hooks/CHANGELOG.md
  packages/hooks/package.json
  packages/next-config/CHANGELOG.md
  packages/next-config/package.json
  packages/react-components/CHANGELOG.md
  packages/react-components/package.json
  packages/rollup-config/CHANGELOG.md
  packages/rollup-config/package.json
  packages/styles/CHANGELOG.md
  packages/styles/package.json
  packages/tsconfig/CHANGELOG.md
  packages/tsconfig/package.json
  packages/types/CHANGELOG.md
  packages/types/package.json
  packages/units/CHANGELOG.md
  packages/units/package.json
  packages/utils/CHANGELOG.md
  packages/utils/package.json
  packages/validator/CHANGELOG.md
  packages/validator/package.json
  packages/webpack-config/CHANGELOG.md
  packages/webpack-config/package.json
Due: textlint

fix(react-components): fix rollup config
  packages/react-components/rollup.config.js
Due: yarn lint

fix(react-components): fix rollup config (#144)
  packages/react-components/rollup.config.js
Due: yarn lint

chore: publish v0.2.6 [skip ci]
  CHANGELOG.md
  lerna.json
  packages/react-components/CHANGELOG.md
  packages/react-components/package.json
Due: textlint

ci: add release:package script
  package.json
Due: none

ci: add release:package script (#145)
  package.json
Due: none

chore: publish v0.3.0 [skip ci]
  CHANGELOG.md
  examples/with-next/CHANGELOG.md
  examples/with-next/package.json
  lerna.json
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/eslint-config/CHANGELOG.md
  packages/eslint-config/package.json
  packages/hooks/CHANGELOG.md
  packages/hooks/package.json
  packages/next-config/CHANGELOG.md
  packages/next-config/package.json
  packages/react-components/CHANGELOG.md
  packages/react-components/package.json
  packages/rollup-config/CHANGELOG.md
  packages/rollup-config/package.json
  packages/styles/CHANGELOG.md
  packages/styles/package.json
  packages/tsconfig/CHANGELOG.md
  packages/tsconfig/package.json
  packages/types/CHANGELOG.md
  packages/types/package.json
  packages/units/CHANGELOG.md
  packages/units/package.json
  packages/utils/CHANGELOG.md
  packages/utils/package.json
  packages/validator/CHANGELOG.md
  packages/validator/package.json
  packages/webpack-config/CHANGELOG.md
  packages/webpack-config/package.json
Due: textlint

fix(eslint-config): add src again
  packages/eslint-config/.npmignore
Due: none

fix(eslint-config): add src again (#147)
  packages/eslint-config/.npmignore
Due: none

Path conditions:
  yarn lint: (any of: **/*.js) or (any of: **/*.{ts,tsx})
  textlint: any of: **/*.md
  yarn typecheck: any of: **/*.{ts,tsx}
  yarn test: any of: **/*.{ts,tsx}
