Repository stillmine/packages: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint, textlint, yarn typecheck, yarn test

.lintstagedrc:

{
  "**/*.js": "yarn lint",
  "**/*.md": "textlint",
  "**/*.{ts,tsx}": [
    "yarn typecheck",
    "yarn lint",
    "yarn test"
  ]
}

chore(deps): update dependency husky to v6
  .pnp.js
  .yarn/cache/husky-npm-5.2.0-ceba7e593c-a5a99bea46.zip
  .yarn/cache/husky-npm-6.0.0-384872ea98-61e1f7f53f.zip
  package.json
  yarn.lock
Due: yarn lint

chore: update install-state
  .pnp.js
  .yarn/install-state.gz
Due: yarn lint

feat(react-components): add SuspenseBoundary
  .husky/pre-commit
  .pnp.js
  .yarn/cache/react-error-boundary-npm-3.1.1-d8c2c7171c-8860975e5a.zip
  .yarn/install-state.gz
  packages/react-components/package.json
  packages/react-components/src/Suspense/SSRSuspense.tsx
  packages/react-components/src/Suspense/SuspenseBoundary.tsx
  packages/react-components/src/Suspense/mod.ts
  packages/react-components/src/mod.ts
  yarn.lock
Due: yarn lint, yarn typecheck, yarn test

fix(react-components): fix lint errors
  .pnp.js
  .yarn/cache/@types-eslint-npm-7.2.8-bf47cd7191-6b46e394c2.zip
  .yarn/install-state.gz
  packages/react-components/package.json
  packages/react-components/src/Loader/Loader.stories.tsx
  packages/react-components/src/Loader/Spinner.tsx
  packages/react-components/src/Loader/mod.ts
  packages/react-components/src/mod.ts
  yarn.lock
Due: yarn lint, yarn typecheck, yarn test

chore(react-components): add build storybook script
  packages/react-components/package.json
Due: none

feat(react-components): add SuspenseBoundary (#67)
  .husky/pre-commit
  .pnp.js
  .yarn/cache/@types-eslint-npm-7.2.8-bf47cd7191-6b46e394c2.zip
  .yarn/cache/react-error-boundary-npm-3.1.1-d8c2c7171c-8860975e5a.zip
  .yarn/install-state.gz
  packages/react-components/package.json
  packages/react-components/src/Loader/Loader.stories.tsx
  packages/react-components/src/Loader/Spinner.tsx
  packages/react-components/src/Loader/mod.ts
  packages/react-components/src/Suspense/SSRSuspense.tsx
  packages/react-components/src/Suspense/SuspenseBoundary.tsx
  packages/react-components/src/Suspense/mod.ts
  packages/react-components/src/mod.ts
  yarn.lock
Due: yarn lint, yarn typecheck, yarn test

ci: add yarn since
  .github/workflows/ci.yaml
  .github/workflows/release.yaml
  .yarn/install-state.gz
  .yarn/plugins/@yarnpkg/plugin-workspace-since.cjs
  .yarnrc.yml
Due: none

ci: modify origin/main => main
  .github/workflows/ci.yaml
Due: none

ci: rollback script
  .github/workflows/ci.yaml
Due: none

fix: add test script
  package.json
Due: none

fix(hooks): fix test
  .pnp.js
  .yarn/cache/@types-react-test-renderer-npm-17.0.1-9a42d8bb68-bd3f8c6c2a.zip
  .yarn/cache/react-shallow-renderer-npm-16.14.1-b8a4f845ff-d52cb869e2.zip
  .yarn/cache/react-test-renderer-npm-17.0.2-1086717127-9e79031ad2.zip
  .yarn/install-state.gz
  packages/hooks/package.json
  packages/hooks/src/useSelect/useSelect.test.ts
  yarn.lock
Due: yarn lint, yarn typecheck, yarn test

fix: fix test script
  .pnp.js
  .yarn/install-state.gz
  packages/eslint-config/package.json
  packages/styles/package.json
  packages/types/jest.config.js
  packages/types/package.json
  packages/units/package.json
  packages/utils/package.json
  packages/validator/package.json
  yarn.lock
Due: yarn lint

ci: add yarn since (#69)
  .github/workflows/ci.yaml
  .github/workflows/release.yaml
  .pnp.js
  .yarn/cache/@types-react-test-renderer-npm-17.0.1-9a42d8bb68-bd3f8c6c2a.zip
  .yarn/cache/react-shallow-renderer-npm-16.14.1-b8a4f845ff-d52cb869e2.zip
  .yarn/cache/react-test-renderer-npm-17.0.2-1086717127-9e79031ad2.zip
  .yarn/install-state.gz
  .yarn/plugins/@yarnpkg/plugin-workspace-since.cjs
  .yarnrc.yml
  package.json
  packages/eslint-config/package.json
  packages/hooks/package.json
  packages/hooks/src/useSelect/useSelect.test.ts
  packages/styles/package.json
  packages/types/jest.config.js
  packages/types/package.json
  packages/units/package.json
  packages/utils/package.json
  packages/validator/package.json
  yarn.lock
Due: yarn lint, yarn typecheck, yarn test

chore(release): 1.4.0 [skip ci]
  packages/eslint-config/CHANGELOG.md
  packages/eslint-config/package.json
Due: textlint

Notes added by 'git notes add'
  beed9756bb2dc344f21b00cbc6fea34db43256b3
Due: none

fix(react-components): fix build errors
  .pnp.js
  .yarn/cache/@babel-core-npm-7.13.10-57ebf35dd5-728249a0ba.zip
  .yarn/cache/@babel-preset-env-npm-7.13.10-244f817c81-1f23eb25de.zip
  .yarn/cache/@babel-preset-react-npm-7.12.13-027b790324-b5e652172e.zip
  .yarn/cache/@rollup-plugin-commonjs-npm-17.1.0-0289bc4d60-9b162f9309.zip
  .yarn/cache/@types-eslint-npm-7.2.8-bf47cd7191-6b46e394c2.zip
  .yarn/cache/@types-estree-npm-0.0.46-173c5af455-69fcf64770.zip
  .yarn/cache/@types-jest-npm-26.0.22-1621c2cb77-4c98ed0585.zip
  .yarn/cache/estree-walker-npm-2.0.2-dfab42f65c-378cc9d3be.zip
  .yarn/cache/is-reference-npm-1.2.1-87ca1743c8-9daa3d7c4d.zip
  .yarn/cache/magic-string-npm-0.25.7-0a0bd9c864-4b70c13eb2.zip
  .yarn/install-state.gz
  packages/react-components/package.json
  packages/react-components/rollup.config.js
  packages/react-components/src/Select/SearchableSelect.tsx
  packages/react-components/src/Select/Select.tsx
  packages/react-components/tsconfig.cjs.json
  packages/react-components/tsconfig.esm.json
  packages/styles/src/gutter.ts
  yarn.lock
Due: yarn lint, yarn typecheck, yarn test

fix(react-components): fix type errors
  .yarn/install-state.gz
  packages/react-components/src/Button/Button.stories.tsx
  packages/react-components/src/Chip/Chip.stories.tsx
  packages/react-components/src/Select/Select.stories.tsx
  packages/react-components/src/Tab/Tab.stories.tsx
Due: yarn lint, yarn typecheck, yarn test

fix(react-components): fix build errors (#70)
  .pnp.js
  .yarn/cache/@babel-core-npm-7.13.10-57ebf35dd5-728249a0ba.zip
  .yarn/cache/@babel-preset-env-npm-7.13.10-244f817c81-1f23eb25de.zip
  .yarn/cache/@babel-preset-react-npm-7.12.13-027b790324-b5e652172e.zip
  .yarn/cache/@rollup-plugin-commonjs-npm-17.1.0-0289bc4d60-9b162f9309.zip
  .yarn/cache/@types-eslint-npm-7.2.8-bf47cd7191-6b46e394c2.zip
  .yarn/cache/@types-estree-npm-0.0.46-173c5af455-69fcf64770.zip
  .yarn/cache/@types-jest-npm-26.0.22-1621c2cb77-4c98ed0585.zip
  .yarn/cache/estree-walker-npm-2.0.2-dfab42f65c-378cc9d3be.zip
  .yarn/cache/is-reference-npm-1.2.1-87ca1743c8-9daa3d7c4d.zip
  .yarn/cache/magic-string-npm-0.25.7-0a0bd9c864-4b70c13eb2.zip
  .yarn/install-state.gz
  packages/react-components/package.json
  packages/react-components/rollup.config.js
  packages/react-components/src/Button/Button.stories.tsx
  packages/react-components/src/Chip/Chip.stories.tsx
  packages/react-components/src/Select/SearchableSelect.tsx
  packages/react-components/src/Select/Select.stories.tsx
  packages/react-components/src/Select/Select.tsx
  packages/react-components/src/Tab/Tab.stories.tsx
  packages/react-components/tsconfig.cjs.json
  packages/react-components/tsconfig.esm.json
  packages/styles/src/gutter.ts
  yarn.lock
Due: yarn lint, yarn typecheck, yarn test

chore(release): 1.4.1 [skip ci]
  packages/eslint-config/CHANGELOG.md
  packages/eslint-config/package.json
Due: textlint

Notes added by 'git notes add'
  3bdbefbe55ee8a046a1a08b72109ffe3cf39f172
Due: none

ci: add yarn plugin changed
  .github/workflows/ci.yaml
  .github/workflows/release.yaml
  .yarn/install-state.gz
  .yarn/plugins/@yarnpkg/plugin-changed.cjs
  .yarnrc.yml
Due: none

fix: fix option
  .github/workflows/ci.yaml
  .github/workflows/release.yaml
Due: none

ci: modify fetch depth
  .github/workflows/ci.yaml
  .github/workflows/release.yaml
Due: none

ci: add yarn plugin changed (#72)
  .github/workflows/ci.yaml
  .github/workflows/release.yaml
  .yarn/install-state.gz
  .yarn/plugins/@yarnpkg/plugin-changed.cjs
  .yarnrc.yml
Due: none

feat(react-components): add Text
  packages/react-components/src/Typography/Text.tsx
  packages/react-components/src/Typography/mod.ts
  packages/react-components/src/mod.ts
Due: yarn lint, yarn typecheck, yarn test

feat(react-components): add Text (#73)
  packages/react-components/src/Typography/Text.tsx
  packages/react-components/src/Typography/mod.ts
  packages/react-components/src/mod.ts
Due: yarn lint, yarn typecheck, yarn test

chore(release): 1.5.0 [skip ci]
  packages/eslint-config/CHANGELOG.md
  packages/eslint-config/package.json
Due: textlint

Notes added by 'git notes add'
  b2eba16ff26a945ff9dd901779afe624e1614174
Due: none

fix(react-components): move Container into folder
  .yarn/install-state.gz
  packages/react-components/src/Container/Container.tsx
  packages/react-components/src/Container/mod.ts
  packages/react-components/src/mod.ts
Due: yarn lint, yarn typecheck, yarn test

chore(release): 1.5.1-next.1 [skip ci]
  packages/react-components/CHANGELOG.md
  packages/react-components/package.json
Due: textlint

Notes added by 'git notes add'
  f04665688a1ef2fa02b7f3da5ba3614b3376447c
Due: none

ci: test yarn since
  .github/workflows/release.yaml
Due: none

fix(react-components): remove color prop
  packages/react-components/src/Typography/Text.tsx
Due: yarn lint, yarn typecheck, yarn test

chore(release): 1.5.1-next.2 [skip ci]
  packages/react-components/CHANGELOG.md
  packages/react-components/package.json
Due: textlint

Notes added by 'git notes add'
  8ebee2bf65ca908a398958b90bbdb49b50ded068
Due: none

build: main release (#74)
  .github/workflows/release.yaml
  .yarn/install-state.gz
  packages/react-components/CHANGELOG.md
  packages/react-components/package.json
  packages/react-components/src/Container/Container.tsx
  packages/react-components/src/Container/mod.ts
  packages/react-components/src/Typography/Text.tsx
  packages/react-components/src/mod.ts
Due: yarn lint, textlint, yarn typecheck, yarn test

chore(deps): update dependency rollup to v2.47.0
  .pnp.js
  .yarn/cache/rollup-npm-2.44.0-933a5cc29a-8142c058b2.zip
  .yarn/cache/rollup-npm-2.47.0-1695d7a128-bab2079fea.zip
  packages/hooks/package.json
  yarn.lock
Due: yarn lint

chore(deps): pin dependency @types/react-test-renderer to 17.0.1
  packages/hooks/package.json
  yarn.lock
Due: none

chore(deps): update dependency @types/node to v14.14.43
  .pnp.js
  .yarn/cache/@types-node-npm-14.14.43-cddd452ab7-b7a9e6df7c.zip
  packages/webpack/package.json
  yarn.lock
Due: yarn lint
