Repository stillmine/packages: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint, textlint, yarn typecheck, yarn test

.lintstagedrc:

{
  "**/*.js": "yarn lint",
  "**/*.md": "textlint",
  "**/*.{ts,tsx}": [
    "yarn lint",
    "yarn typecheck",
    "yarn test"
  ]
}

chore(deps): update typescript-eslint monorepo to v4.18.0
  .pnp.js
  .yarn/cache/@typescript-eslint-eslint-plugin-npm-4.13.0-37a4ec9051-98f6ab9268.zip
  .yarn/cache/@typescript-eslint-eslint-plugin-npm-4.15.0-66e26db5dc-ed02b9b857.zip
  .yarn/cache/@typescript-eslint-eslint-plugin-npm-4.18.0-f0dd1e4732-f137baf23f.zip
  .yarn/cache/@typescript-eslint-experimental-utils-npm-4.13.0-2797f6a847-63eee348dd.zip
  .yarn/cache/@typescript-eslint-experimental-utils-npm-4.15.0-10cd99f726-c918b9f052.zip
  .yarn/cache/@typescript-eslint-experimental-utils-npm-4.18.0-b1648e4dcf-1f1357b38a.zip
  .yarn/cache/@typescript-eslint-parser-npm-4.13.0-6cdafa91d1-7eec410392.zip
  .yarn/cache/@typescript-eslint-parser-npm-4.15.0-60dee9bebb-23b879a98c.zip
  .yarn/cache/@typescript-eslint-parser-npm-4.18.0-73d958664a-d2f907dc28.zip
  .yarn/cache/@typescript-eslint-scope-manager-npm-4.13.0-45da1373f9-878302870e.zip
  .yarn/cache/@typescript-eslint-scope-manager-npm-4.15.0-aa72a54ff1-39123983dc.zip
  .yarn/cache/@typescript-eslint-scope-manager-npm-4.18.0-650d746fc7-c543d4bf73.zip
  .yarn/cache/@typescript-eslint-types-npm-4.13.0-ca07c0e63b-ed2e27ad1f.zip
  .yarn/cache/@typescript-eslint-types-npm-4.15.0-e0be746b28-e45ff88c0e.zip
  .yarn/cache/@typescript-eslint-types-npm-4.18.0-35a3bc1eab-45d3df0c49.zip
  .yarn/cache/@typescript-eslint-typescript-estree-npm-4.13.0-adff8327cb-8b7485f192.zip
  .yarn/cache/@typescript-eslint-typescript-estree-npm-4.15.0-f49af4a31f-5768e5ee4b.zip
  .yarn/cache/@typescript-eslint-typescript-estree-npm-4.18.0-674996a73c-b77e150d28.zip
  .yarn/cache/@typescript-eslint-visitor-keys-npm-4.13.0-763461eb7e-35f2006288.zip
  .yarn/cache/@typescript-eslint-visitor-keys-npm-4.15.0-9aa0b3af65-6f7aa6f4c7.zip
  .yarn/cache/@typescript-eslint-visitor-keys-npm-4.18.0-6b723e2167-654576d330.zip
  package.json
  packages/eslint-config/package.json
  packages/hooks/package.json
  yarn.lock
Due: yarn lint

chore(deps): update commitlint monorepo to v12
  .pnp.js
  .yarn/cache/@commitlint-cli-npm-11.0.0-6248e9be73-8f03132dae.zip
  .yarn/cache/@commitlint-cli-npm-12.0.1-aca846c167-ae79bf1c7b.zip
  .yarn/cache/@commitlint-config-conventional-npm-11.0.0-f0fa42ad78-2c5288d268.zip
  .yarn/cache/@commitlint-config-conventional-npm-12.0.1-3e9faa236a-1999dea7f2.zip
  .yarn/cache/@commitlint-config-lerna-scopes-npm-11.0.0-86949229c5-86b4b95c29.zip
  .yarn/cache/@commitlint-config-lerna-scopes-npm-12.0.1-cd1eacdab8-9d963c37dd.zip
  .yarn/cache/@commitlint-ensure-npm-11.0.0-32383fac77-e42cc3000b.zip
  .yarn/cache/@commitlint-ensure-npm-12.0.1-950ac14cf3-93457d8891.zip
  .yarn/cache/@commitlint-execute-rule-npm-11.0.0-08b9fdd125-3becd2e5a7.zip
  .yarn/cache/@commitlint-execute-rule-npm-12.0.1-2c3e6a8a98-372b96da8e.zip
  .yarn/cache/@commitlint-format-npm-11.0.0-8d20af6629-48dcd68684.zip
  .yarn/cache/@commitlint-format-npm-12.0.1-0887fd1ba5-51ff4f7aec.zip
  .yarn/cache/@commitlint-is-ignored-npm-11.0.0-5c2f47aaca-1be0a8113c.zip
  .yarn/cache/@commitlint-is-ignored-npm-12.1.0-1e2039d0f5-d0d4bf1ac0.zip
  .yarn/cache/@commitlint-lint-npm-11.0.0-5d5a8bb2d3-a3f10a51af.zip
  .yarn/cache/@commitlint-lint-npm-12.1.0-a7fec3988d-b91502daaf.zip
  .yarn/cache/@commitlint-load-npm-11.0.0-5e73e450c3-67fc32c2d4.zip
  .yarn/cache/@commitlint-load-npm-12.1.0-90ed4d7408-eceb5ca6df.zip
  .yarn/cache/@commitlint-message-npm-11.0.0-5db5461eee-1b4cfab0fe.zip
  .yarn/cache/@commitlint-message-npm-12.1.0-e7a2bb7fd3-0d255904bf.zip
  .yarn/cache/@commitlint-parse-npm-11.0.0-c4beae7377-4f060d9c04.zip
  .yarn/cache/@commitlint-parse-npm-12.1.0-2394f56c70-0ff35b6e5a.zip
  .yarn/cache/@commitlint-read-npm-11.0.0-24078839e4-fb8cec3da4.zip
  .yarn/cache/@commitlint-read-npm-12.1.0-4ee36698b3-c2dedab2e2.zip
  .yarn/cache/@commitlint-resolve-extends-npm-11.0.0-7e11857102-fe978e4fce.zip
  .yarn/cache/@commitlint-resolve-extends-npm-12.0.1-ba0edaf105-7a6702d298.zip
  .yarn/cache/@commitlint-rules-npm-11.0.0-a2cd66c71e-226593dc9b.zip
  .yarn/cache/@commitlint-rules-npm-12.1.0-ea86c66402-9bb3063e84.zip
  .yarn/cache/@commitlint-to-lines-npm-11.0.0-1b50428d74-70c55a9b16.zip
  .yarn/cache/@commitlint-to-lines-npm-12.0.1-e5b7503a09-3762bda0ca.zip
  .yarn/cache/@commitlint-top-level-npm-11.0.0-d4df11e003-b1911cabed.zip
  .yarn/cache/@commitlint-top-level-npm-12.0.1-8b513f6b00-76f48247c2.zip
  .yarn/cache/@commitlint-types-npm-11.0.0-2bebde8042-4dcf1993f1.zip
  .yarn/cache/@commitlint-types-npm-12.0.1-b514e28abe-da90e3c29e.zip
  .yarn/cache/semver-npm-7.3.2-161b023bbb-bceb46d396.zip
  package.json
  yarn.lock
Due: yarn lint

chore(deps): update dependency @rollup/plugin-babel to v5.3.0
  .pnp.js
  .yarn/cache/@rollup-plugin-babel-npm-5.2.3-959553e6c1-35324e89f4.zip
  .yarn/cache/@rollup-plugin-babel-npm-5.3.0-944843ffd9-44efa786f2.zip
  packages/hooks/package.json
  packages/react-components/package.json
  packages/utils/package.json
  yarn.lock
Due: yarn lint

build: update dependencies
  .pnp.js
  .yarn/install-state.gz
Due: yarn lint

chore(deps): update emotion monorepo
  .pnp.js
  .yarn/cache/@emotion-babel-plugin-npm-11.1.2-b446077e1b-2b8000817a.zip
  .yarn/cache/@emotion-babel-plugin-npm-11.2.0-8e0430c814-4001dc3305.zip
  .yarn/cache/@emotion-is-prop-valid-npm-1.0.0-192e46a96d-1d217723ad.zip
  .yarn/cache/@emotion-is-prop-valid-npm-1.1.0-858a9fb5eb-3fd451e55f.zip
  .yarn/cache/@emotion-react-npm-11.1.4-e22adbc3be-a75d76ba0b.zip
  .yarn/cache/@emotion-styled-npm-11.0.0-fa37bc628e-42d81040a5.zip
  .yarn/cache/@emotion-styled-npm-11.1.5-900e91dd19-40c3ae4521.zip
  package.json
  packages/react-components/package.json
  yarn.lock
Due: yarn lint

feat(semantic-release-config): bootstrap package
  packages/semantic-release-config/README.md
  packages/semantic-release-config/index.js
  packages/semantic-release-config/package.json
Due: yarn lint, textlint

feat(semantic-release-config): bootstrap package (#44)
  packages/semantic-release-config/README.md
  packages/semantic-release-config/index.js
  packages/semantic-release-config/package.json
Due: yarn lint, textlint

feat: add package root dependencies
  .huskyrc
  .pnp.js
  .prettierignore
  .yarn/cache/@eslint-eslintrc-npm-0.4.0-901e1408cc-d3f51b7419.zip
  .yarn/cache/@semantic-release-changelog-npm-5.0.1-6a4fde8bb8-9f4620e6f6.zip
  .yarn/cache/eslint-npm-7.23.0-899360d658-f444869506.zip
  .yarn/cache/file-entry-cache-npm-6.0.1-31965cf0af-af83a41214.zip
  .yarn/cache/globals-npm-13.7.0-fda65f740c-98e3615174.zip
  .yarn/cache/type-fest-npm-0.20.2-b36432617f-1f887bc615.zip
  .yarn/install-state.gz
  .yarn/plugins/@yarnpkg/plugin-typescript.cjs
  .yarnrc.yml
  README.md
  yarn.lock
Due: yarn lint, textlint

build(react-components): add build configs
  packages/react-components/.npmignore
  packages/react-components/.releaserc
  packages/react-components/package.json
  packages/react-components/rollup.config.js
  packages/react-components/tsconfig.build.json
  packages/react-components/tsconfig.json
Due: yarn lint

build(react-components): add release configs (#45)
  .huskyrc
  .pnp.js
  .prettierignore
  .yarn/cache/@eslint-eslintrc-npm-0.4.0-901e1408cc-d3f51b7419.zip
  .yarn/cache/@semantic-release-changelog-npm-5.0.1-6a4fde8bb8-9f4620e6f6.zip
  .yarn/cache/eslint-npm-7.23.0-899360d658-f444869506.zip
  .yarn/cache/file-entry-cache-npm-6.0.1-31965cf0af-af83a41214.zip
  .yarn/cache/globals-npm-13.7.0-fda65f740c-98e3615174.zip
  .yarn/cache/type-fest-npm-0.20.2-b36432617f-1f887bc615.zip
  .yarn/install-state.gz
  .yarn/plugins/@yarnpkg/plugin-typescript.cjs
  .yarnrc.yml
  README.md
  packages/react-components/.npmignore
  packages/react-components/.releaserc
  packages/react-components/package.json
  packages/react-components/rollup.config.js
  packages/react-components/tsconfig.build.json
  packages/react-components/tsconfig.json
  yarn.lock
Due: yarn lint, textlint

chore(release): 1.3.0 [skip ci]
  packages/styles/package.json
Due: none

Notes added by 'git notes add'
  8b59a6ffa0b4680db87b6393ecd082bedba4a300
Due: none

ci: add CI workflow
  .github/workflows/ci.yaml
  .yarn/install-state.gz
Due: none

ci: add CI workflow (#46)
  .github/workflows/ci.yaml
  .yarn/install-state.gz
Due: none

build(styles): modify build configs
  .pnp.js
  .yarn/install-state.gz
  packages/styles/.npmignore
  packages/styles/.releaserc
  packages/styles/package.json
  packages/styles/tsconfig.cjs.json
  packages/styles/tsconfig.json
  yarn.lock
Due: yarn lint

ci: add workspace scripts
  .github/workflows/ci.yaml
  .github/workflows/release.yaml
  package.json
Due: none

fix(react-components): fix type errors
  .pnp.js
  .yarn/install-state.gz
  packages/react-components/.npmignore
  packages/react-components/package.json
  packages/react-components/src/Select/Select.stories.tsx
  packages/react-components/tsconfig.json
  yarn.lock
Due: yarn lint, yarn typecheck, yarn test

build(utils): modify build configs
  packages/utils/.babelrc
  packages/utils/.npmignore
  packages/utils/.releaserc
  packages/utils/package.json
  packages/utils/rollup.config.js
  packages/utils/tsconfig.cjs.json
  packages/utils/tsconfig.esm.json
  packages/utils/tsconfig.json
Due: yarn lint

build(hooks): modify package main
  packages/hooks/package.json
Due: none

build(types): modify package main
  packages/types/package.json
Due: none

build(units): modify package main
  packages/units/package.json
Due: none

fix(styles): modify lib
  packages/styles/tsconfig.json
Due: none

fix: fix dependencies
  .pnp.js
  .yarn/install-state.gz
  yarn.lock
Due: yarn lint

feat(eslint-config): modify typescript rules
  packages/eslint-config/.npmignore
  packages/eslint-config/.releaserc
  packages/eslint-config/package.json
  packages/eslint-config/src/rules/typescript/index.js
  packages/eslint-config/src/utils.js
Due: yarn lint

feat(tsconfig): add strict
  packages/tsconfig/.npmignore
  packages/tsconfig/.releaserc
  packages/tsconfig/package.json
  packages/tsconfig/tsconfig.json
Due: none

chore(validator): extends root tsconfig
  packages/validator/tsconfig.json
Due: none

chore(hooks): remove build:watch
  packages/hooks/package.json
Due: none

fix: update lint & tsconfig
  .eslintrc
  .pnp.js
  .yarn/install-state.gz
  tsconfig.json
  yarn.lock
Due: yarn lint

fix(hooks): fix type error
  packages/hooks/src/useSelect/useSelect.test.ts
Due: yarn lint, yarn typecheck, yarn test

fix(validator): fix type error
  packages/validator/src/isNil.ts
  packages/validator/src/isUUID.ts
  packages/validator/src/mod.ts
  packages/validator/src/validator.ts
Due: yarn lint, yarn typecheck, yarn test

feat(react-components): add spinner
  .yarn/install-state.gz
  packages/react-components/src/Spinner/Spinner.tsx
  packages/react-components/src/Spinner/mod.ts
  packages/react-components/src/Tab/Tab.tsx
  packages/react-components/src/mod.ts
Due: yarn lint, yarn typecheck, yarn test

fix(semantic-release-config): add semantic-release base plugins
  .pnp.js
  .yarn/install-state.gz
  packages/semantic-release-config/package.json
  yarn.lock
Due: yarn lint

fix(semantic-release-config): add semantic-release base plugins (#48)
  .pnp.js
  .yarn/install-state.gz
  packages/semantic-release-config/package.json
  yarn.lock
Due: yarn lint

ci: add persist-credentials into false
  .github/workflows/release.yaml
Due: none

ci: add persist-credentials into false (#49)
  .github/workflows/release.yaml
Due: none

ci: modify GITHUB_TOKEN into custom one
  .github/workflows/release.yaml
Due: none

ci: modify GITHUB_TOKEN into custom one (#50)
  .github/workflows/release.yaml
Due: none

chore(release): 1.3.1 [skip ci]
  packages/eslint-config/CHANGELOG.md
  packages/eslint-config/package.json
Due: textlint

Notes added by 'git notes add'
  5194c0c642af4e2c83e53fb8c7d10809ae7d2de5
Due: none
