Repository stillmine/packages: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint, textlint, yarn typecheck, yarn test

build(units): publish package
  packages/units/package.json
Due: none

feat(styles): add resetButton style
  packages/styles/src/reset/mod.ts
  packages/styles/src/reset/resetButton.ts
Due: yarn lint, yarn typecheck, yarn test

build(styles): publish package
  packages/styles/package.json
Due: none

feat(react-components): add Tab
  packages/react-components/package.json
  packages/react-components/src/Tab/Tab.stories.tsx
  packages/react-components/src/Tab/Tab.test.tsx
  packages/react-components/src/Tab/Tab.tsx
  packages/react-components/src/Tab/TabItem.tsx
  packages/react-components/src/Tab/mod.ts
  packages/react-components/src/mod.ts
Due: yarn lint, yarn typecheck, yarn test

build(react-components): publish package
  packages/react-components/package.json
Due: none

fix(styles): fix dependency version
  packages/styles/package.json
Due: none

fix(react-components): fix dependency versions
  packages/react-components/package.json
Due: none

feat(react-components): add ProgressBar
  packages/react-components/.storybook/styles.css
  packages/react-components/package.json
  packages/react-components/src/ProgressBar/ProgressBar.stories.tsx
  packages/react-components/src/ProgressBar/ProgressBar.tsx
  packages/react-components/src/ProgressBar/mod.ts
  packages/react-components/src/mod.ts
Due: yarn lint, yarn typecheck, yarn test

fix(react-components): add react-dom as external dep
  packages/react-components/rollup.config.js
Due: yarn lint

feat(eslint-config): update eslint-config-prettier rules
  .pnp.js
  .yarn/cache/@types-react-dom-npm-17.0.1-c702bca04c-695dd4bbef.zip
  .yarn/cache/@xobotyi-scrollbar-width-npm-1.9.5-00ae5c32d1-ed2f287c3b.zip
  .yarn/cache/css-in-js-utils-npm-2.0.1-235acac2dc-85ea5c716f.zip
  .yarn/cache/css-tree-npm-1.1.2-6640724d34-a6b14e13fe.zip
  .yarn/cache/fast-shallow-equal-npm-1.0.0-b14ca484b4-c027a424ea.zip
  .yarn/cache/fastest-stable-stringify-npm-2.0.2-f2a059d214-41bd4f7a04.zip
  .yarn/cache/hyphenate-style-name-npm-1.0.4-a79c7da506-4cfeb47e98.zip
  .yarn/cache/inline-style-prefixer-npm-6.0.0-1495b86fb7-c7067ab957.zip
  .yarn/cache/js-cookie-npm-2.2.1-e879cd2148-c110f78427.zip
  .yarn/cache/mdn-data-npm-2.0.14-0acd669f0d-57a27f585a.zip
  .yarn/cache/nano-css-npm-5.3.1-b5193932b9-b3c1817047.zip
  .yarn/cache/react-universal-interface-npm-0.6.2-795659cd0e-4b63c77bbd.zip
  .yarn/cache/react-use-npm-17.1.1-55f9b704f7-796af77ad2.zip
  .yarn/cache/rtl-css-js-npm-1.14.0-c83b18f1b7-cedcc6142c.zip
  .yarn/cache/screenfull-npm-5.1.0-ec0248d046-09373459c5.zip
  .yarn/cache/set-harmonic-interval-npm-1.0.1-2f840592b2-62a5bc2a00.zip
  .yarn/cache/source-map-npm-0.5.6-ac261b6171-288edf6dcb.zip
  .yarn/cache/stack-generator-npm-2.0.5-61f6fcda09-3755840159.zip
  .yarn/cache/stacktrace-gps-npm-3.0.4-073ec5f443-18896e8b12.zip
  .yarn/cache/stacktrace-js-npm-2.0.2-f022fac9f9-0b7280113c.zip
  .yarn/cache/stylis-npm-4.0.7-ac28d33880-22074398f0.zip
  .yarn/cache/throttle-debounce-npm-3.0.1-1785e6b767-2f6ab97aee.zip
  .yarn/cache/ts-easing-npm-0.2.0-988adf6a8d-6f8c21c184.zip
  .yarn/install-state.gz
  .yarn/versions/f85ff4f4.yml
  packages/eslint-config/package.json
  packages/eslint-config/src/rules/react/index.js
  packages/eslint-config/src/rules/typescript/index.js
  yarn.lock
Due: yarn lint

chore(deps): pin dependency @types/babel__plugin-transform-runtime to 7.9.1
  packages/hooks/package.json
  yarn.lock
Due: none

feat(hooks): modify build configs
  .yarn/install-state.gz
  packages/hooks/package.json
  packages/hooks/tsconfig.build.json
  packages/hooks/tsconfig.json
Due: none

fix: modify NPM_TOKEN
  .github/workflows/release.yaml
Due: none

fix(styles): add release branches
  packages/styles/.releaserc
Due: none

Notes added by 'git notes add'
  6310ff5823caa420378a0684356d0da6aa6fca97
Due: none

feat(styles): use numberToUnit
  .github/workflows/release.yaml
  packages/styles/src/gutter.ts
  packages/styles/src/spacing/spacing.ts
  packages/styles/src/unit.ts
Due: yarn lint, yarn typecheck, yarn test

fix: modify build commands
  .github/workflows/release.yaml
  packages/rollup/package.json
  packages/webpack/package.json
Due: none

fix(react-components): rename filename
  packages/react-components/src/Button/Button.stories.tsx
  packages/react-components/src/Button/Button.test.tsx
  packages/react-components/src/Button/Button.tsx
  packages/react-components/src/Button/mod.ts
Due: yarn lint, yarn typecheck, yarn test

Notes added by 'git notes add'
  f743bf3506d84c929f525f9046b6ee634865227e
Due: none

feat(styles): bump version
  .pnp.js
  .yarn/install-state.gz
  packages/react-components/.releaserc
  packages/react-components/package.json
  packages/styles/package.json
  yarn.lock
Due: yarn lint

Notes added by 'git notes add'
  39f14e6873f071e3cfedb5132340bfefe2d6103a
Due: none

chore(deps): update dependency @testing-library/react-hooks to v5.1.0
  .pnp.js
  .yarn/cache/@testing-library-react-hooks-npm-5.0.3-6e28d0a419-e542a768fe.zip
  .yarn/cache/@testing-library-react-hooks-npm-5.1.0-564b04ac32-9c03fa569c.zip
  packages/hooks/package.json
  yarn.lock
Due: yarn lint

chore(deps): update dependency eslint-plugin-no-secrets to v0.8.9
  .pnp.js
  .yarn/cache/eslint-plugin-no-secrets-npm-0.6.8-27e734d090-629b62c2e1.zip
  .yarn/cache/eslint-plugin-no-secrets-npm-0.8.9-49cf59cabe-aefe3412af.zip
  package.json
  packages/eslint-config/package.json
  packages/hooks/package.json
  yarn.lock
Due: yarn lint

chore(deps): update dependency lint-staged to v10.5.4
  .pnp.js
  .yarn/cache/lint-staged-npm-10.5.3-0247b339a3-cd34098f62.zip
  .yarn/cache/lint-staged-npm-10.5.4-cd5df63f2a-dbcafe3679.zip
  package.json
  yarn.lock
Due: yarn lint

chore(deps): update dependency ts-jest to v26.5.4
  .pnp.js
  .yarn/cache/ts-jest-npm-26.4.4-6fd34d9b91-bee46b789c.zip
  .yarn/cache/ts-jest-npm-26.5.1-109a413079-f054d4ef42.zip
  .yarn/cache/ts-jest-npm-26.5.4-d44a800654-8e5856b7cb.zip
  package.json
  packages/hooks/package.json
  packages/react-components/package.json
  yarn.lock
Due: yarn lint

fix(react-components): add semantic-release git config
  packages/react-components/.releaserc
  packages/react-components/package.json
Due: none

fix(styles): semantic-release git plugin
  .pnp.js
  .yarn/cache/@semantic-release-git-npm-9.0.0-28528be7a6-8a96bc9e44.zip
  .yarn/install-state.gz
  packages/styles/.releaserc
  packages/styles/package.json
  yarn.lock
Due: yarn lint

chore(release): 1.2.1 [skip ci]
  packages/styles/package.json
Due: none

Notes added by 'git notes add'
  9ea7f2dd5f111315279a4f42e7fdec55b2e7c941
Due: none

Path conditions:
  yarn lint: (any of: **/*.js) or (any of: **/*.{ts,tsx})
  textlint: any of: **/*.md
  yarn typecheck: any of: **/*.{ts,tsx}
  yarn test: any of: **/*.{ts,tsx}
