Repository stillmine/packages: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint, textlint, yarn typecheck, yarn test

feat(hooks): add @stillmine/hooks
  .hygen.js
  .templates/package/new/.eslintrc.ejs.t
  .templates/package/new/jest.config.js.ejs.t
  .templates/package/new/mod.ts.ejs.t
  .templates/package/new/package.json.ejs.t
  .templates/package/new/prompt.js
  .templates/package/new/tsconfig.json.ejs.t
  .templates/shared/.eslintrc
  .templates/shared/jest.config.js
  .templates/shared/tsconfig.json
  package.json
  packages/hooks/.eslintrc
  packages/hooks/jest.config.js
  packages/hooks/package.json
  packages/hooks/src/mod.ts
  packages/hooks/src/use-visible.ts
  packages/hooks/tsconfig.json
  packages/react-components/package.json
  packages/react-components/src/modal.tsx
  yarn.lock
Due: yarn lint, yarn typecheck, yarn test

fix(react-components): add publishConfig
  package.json
  packages/react-components/package.json
Due: none

build: modify build scripts
  package.json
  packages/hooks/package.json
  packages/react-components/package.json
  packages/react-components/rollup.config.js
  packages/react-components/tsconfig.json
Due: yarn lint

build: modify build scripts
  packages/styles/package.json
  packages/units/package.json
Due: none

fix(units): add repository field
  packages/units/package.json
Due: none

fix: add .npmrc into gitignore
  .gitignore
Due: none

fix: add repository field
  packages/hooks/package.json
  packages/react-components/package.json
  packages/styles/package.json
  packages/units/package.json
  packages/units/src/mod.ts
Due: yarn lint, yarn typecheck, yarn test

chore(deps): update dependency @rollup/plugin-babel to v5.2.3
  package.json
  yarn.lock
Due: none

chore(deps): update dependency @rollup/plugin-node-resolve to v11.1.1
  package.json
  yarn.lock
Due: none

chore(deps): update dependency pinst to v2.1.4
  package.json
  yarn.lock
Due: none

chore: add yarn workspaces plugin
  .pnp.js
  .yarn/install-state.gz
  .yarn/plugins/@yarnpkg/plugin-workspace-tools.cjs
  .yarnrc.yml
  packages/units/package.json
  yarn.lock
Due: yarn lint

chore(deps): update dependency @types/react to v17.0.1
  .pnp.js
  .yarn/cache/@types-react-npm-17.0.1-d29bd2301b-5b490728c5.zip
  package.json
  yarn.lock
Due: yarn lint

chore: add yarn version plugin
  .pnp.js
  .yarn/install-state.gz
  .yarn/plugins/@yarnpkg/plugin-version.cjs
  .yarnrc.yml
  packages/units/.npmignore
  packages/units/package.json
  yarn.lock
Due: yarn lint

chore: add typescript plugin
  .yarn/plugins/@yarnpkg/plugin-typescript.cjs
  .yarnrc.yml
Due: none

chore(react-components): add .npmignore
  .yarn/install-state.gz
  .yarn/versions/ef59e4c1.yml
  packages/react-components/.eslintrc
  packages/react-components/.npmignore
  packages/react-components/package.json
Due: none

chore: add npmignore
  .yarn/install-state.gz
  .yarn/versions/4ef9c901.yml
  packages/hooks/.npmignore
  packages/hooks/package.json
  packages/react-components/package.json
  packages/styles/.npmignore
  packages/styles/package.json
  packages/utils/.npmignore
  packages/utils/package.json
Due: none

feat(hooks,react-components,styles,tsconfig,units): update files
  .eslintrc
  .pnp.js
  .yarn/cache/@emotion-react-npm-11.1.5-bb508e1993-4e78f694df.zip
  .yarn/install-state.gz
  package.json
  packages/eslint-config/.eslintrc
  packages/hooks/package.json
  packages/hooks/tsconfig.json
  packages/react-components/src/Flex/Flex.tsx
  packages/react-components/src/Flex/FlexCenter.tsx
  packages/react-components/src/Flex/mod.ts
  packages/react-components/src/Stack/HorzontalStack.tsx
  packages/react-components/src/Stack/Stack.tsx
  packages/react-components/src/Stack/VerticalStack.tsx
  packages/react-components/src/Stack/mod.ts
  packages/react-components/src/flex.tsx
  packages/react-components/src/mod.ts
  packages/react-components/tsconfig.json
  packages/styles/package.json
  packages/styles/src/flex.ts
  packages/styles/src/gutter.ts
  packages/styles/src/margin/margin-top.ts
  packages/styles/src/margin/margin-y.ts
  packages/styles/src/margin/margin.ts
  packages/styles/src/margin/mod.ts
  packages/styles/src/mod.ts
  packages/styles/tsconfig.cjs.json
  packages/styles/tsconfig.esm.json
  packages/styles/tsconfig.json
  packages/tsconfig/tsconfig.json
  packages/units/package.json
  packages/units/tsconfig.esm.json
  packages/units/tsconfig.json
  tsconfig.json
  yarn.lock
Due: yarn lint, yarn typecheck, yarn test

fix(react-components,styles): fix absolute import
  .yarn/install-state.gz
  .yarn/versions/9c5c1b05.yml
  packages/hooks/package.json
  packages/react-components/package.json
  packages/react-components/src/Flex/Flex.tsx
  packages/react-components/src/Flex/FlexCenter.tsx
  packages/react-components/src/Stack/HorzontalStack.tsx
  packages/react-components/src/Stack/Stack.tsx
  packages/react-components/src/Stack/VerticalStack.tsx
  packages/react-components/src/Stack/mod.ts
  packages/react-components/tsconfig.json
  packages/styles/package.json
  packages/styles/src/margin/margin.ts
  packages/units/package.json
  packages/utils/package.json
Due: yarn lint, yarn typecheck, yarn test

chore(react-components,styled): version up
  .yarn/install-state.gz
  .yarn/versions/f4754fa3.yml
  packages/react-components/package.json
  packages/styles/package.json
Due: none

build(react-components): export Stack
  .yarn/install-state.gz
  .yarn/versions/6921e4bf.yml
  packages/react-components/package.json
  packages/react-components/src/mod.ts
Due: yarn lint, yarn typecheck, yarn test

feat(eslint-config,react-components,types): add types
  .pnp.js
  .yarn/install-state.gz
  .yarn/versions/e63dcd1c.yml
  packages/eslint-config/rules/ecma-script-6.js
  packages/eslint-config/rules/react/jsx.js
  packages/eslint-config/rules/react/react.js
  packages/eslint-config/rules/stylistic-issues.js
  packages/eslint-config/rules/typescript/extension.js
  packages/eslint-config/rules/typescript/index.js
  packages/eslint-config/rules/typescript/typescript.js
  packages/react-components/package.json
  packages/react-components/src/Flex/Flex.tsx
  packages/react-components/src/Flex/FlexCenter.tsx
  packages/react-components/src/Stack/HorzontalStack.tsx
  packages/react-components/src/Stack/Stack.tsx
  packages/react-components/src/Stack/VerticalStack.tsx
  packages/react-components/src/button/button.tsx
  packages/types/.npmignore
  packages/types/jest.config.js
  packages/types/package.json
  packages/types/src/As.ts
  packages/types/src/OmitProps.ts
  packages/types/src/PickProps.ts
  packages/types/src/mod.ts
  packages/types/tsconfig.cjs.json
  packages/types/tsconfig.esm.json
  packages/types/tsconfig.json
  yarn.lock
Due: yarn lint, yarn typecheck, yarn test

build(eslint-config,react-components,types): publish
  .yarn/install-state.gz
  .yarn/versions/8a4ba140.yml
  packages/eslint-config/package.json
  packages/react-components/package.json
  packages/types/package.json
Due: none

build: version up packages
  .yarn/install-state.gz
  .yarn/versions/55da6639.yml
  packages/eslint-config/package.json
  packages/react-components/package.json
  packages/styles/package.json
  packages/tsconfig/package.json
  packages/units/package.json
  packages/utils/package.json
  packages/validator/package.json
Due: none

feat(eslint-config): divide base and react config
  packages/eslint-config/index.js
  packages/eslint-config/package.json
  packages/eslint-config/react.js
  packages/eslint-config/rules/node/best-practices.js
  packages/eslint-config/rules/node/index.js
  packages/eslint-config/rules/node/possible-errors.js
  packages/eslint-config/rules/node/stylistic-issues.js
  packages/eslint-config/rules/react/index.js
  packages/eslint-config/src/constants.js
  packages/eslint-config/src/rules/best-practices.js
  packages/eslint-config/src/rules/ecma-script-6.js
  packages/eslint-config/src/rules/import.js
  packages/eslint-config/src/rules/no-secrets.js
  packages/eslint-config/src/rules/possible-errors.js
  packages/eslint-config/src/rules/prettier.js
  packages/eslint-config/src/rules/react/index.js
  packages/eslint-config/src/rules/react/jsx-a11y.js
  packages/eslint-config/src/rules/react/jsx.js
  packages/eslint-config/src/rules/react/react-hooks.js
  packages/eslint-config/src/rules/react/react.js
  packages/eslint-config/src/rules/strict-mode.js
  packages/eslint-config/src/rules/stylistic-issues.js
  packages/eslint-config/src/rules/typescript/extension.js
  packages/eslint-config/src/rules/typescript/index.js
  packages/eslint-config/src/rules/typescript/typescript.js
  packages/eslint-config/src/rules/variables.js
  packages/eslint-config/src/utils.js
Due: yarn lint

build(eslint-config): publish package
  packages/eslint-config/package.json
Due: none

feat(eslint-config): loose some rules
  packages/eslint-config/src/rules/best-practices.js
  packages/eslint-config/src/rules/react/jsx.js
  packages/eslint-config/src/rules/react/react.js
  packages/eslint-config/src/rules/stylistic-issues.js
  packages/eslint-config/src/rules/typescript/extension.js
  packages/eslint-config/src/rules/typescript/typescript.js
Due: yarn lint

fix(eslint-config): modify object-curly-newline
  packages/eslint-config/src/rules/stylistic-issues.js
Due: yarn lint

fix(react-components): fix fallback types
  packages/react-components/src/SSRSuspense.tsx
Due: yarn lint, yarn typecheck, yarn test

build(eslint-config,react-components): publish packages
  packages/eslint-config/package.json
  packages/react-components/package.json
Due: none

feat(styles): add resetList
  packages/styles/src/mod.ts
  packages/styles/src/reset/mod.ts
  packages/styles/src/reset/resetList.ts
Due: yarn lint, yarn typecheck, yarn test

fix(styles): fix import error
  packages/styles/package.json
  packages/styles/src/reset/mod.ts
Due: yarn lint, yarn typecheck, yarn test

build(styles): publish package
  packages/styles/package.json
Due: none

chore(deps): update dependency eslint to v7.20.0
  .pnp.js
  .yarn/cache/@typescript-eslint-eslint-plugin-npm-4.15.0-66e26db5dc-ed02b9b857.zip
  .yarn/cache/@typescript-eslint-experimental-utils-npm-4.15.0-10cd99f726-c918b9f052.zip
  .yarn/cache/@typescript-eslint-parser-npm-4.15.0-60dee9bebb-23b879a98c.zip
  .yarn/cache/@typescript-eslint-scope-manager-npm-4.15.0-aa72a54ff1-39123983dc.zip
  .yarn/cache/@typescript-eslint-types-npm-4.15.0-e0be746b28-e45ff88c0e.zip
  .yarn/cache/@typescript-eslint-typescript-estree-npm-4.15.0-f49af4a31f-5768e5ee4b.zip
  .yarn/cache/@typescript-eslint-visitor-keys-npm-4.15.0-9aa0b3af65-6f7aa6f4c7.zip
  .yarn/cache/eslint-config-prettier-npm-7.2.0-94db6614b2-6812150ea4.zip
  .yarn/cache/eslint-npm-7.18.0-c2f4ad46af-5c6f6ca0eb.zip
  .yarn/cache/eslint-npm-7.20.0-42a38efe95-1d56cabc7e.zip
  .yarn/cache/esquery-npm-1.3.1-2ba3c93f30-0aac7572bc.zip
  .yarn/cache/esquery-npm-1.4.0-f39408b1a7-3293ecc150.zip
  package.json
  yarn.lock
Due: yarn lint

chore(deps): update dependency eslint-config-prettier to v7.2.0
  .pnp.js
  .yarn/cache/@typescript-eslint-eslint-plugin-npm-4.15.0-66e26db5dc-ed02b9b857.zip
  .yarn/cache/@typescript-eslint-experimental-utils-npm-4.15.0-10cd99f726-c918b9f052.zip
  .yarn/cache/@typescript-eslint-parser-npm-4.15.0-60dee9bebb-23b879a98c.zip
  .yarn/cache/@typescript-eslint-scope-manager-npm-4.15.0-aa72a54ff1-39123983dc.zip
  .yarn/cache/@typescript-eslint-types-npm-4.15.0-e0be746b28-e45ff88c0e.zip
  .yarn/cache/@typescript-eslint-typescript-estree-npm-4.15.0-f49af4a31f-5768e5ee4b.zip
  .yarn/cache/@typescript-eslint-visitor-keys-npm-4.15.0-9aa0b3af65-6f7aa6f4c7.zip
  .yarn/cache/eslint-config-prettier-npm-7.1.0-6ce56fcb2d-968a1166c3.zip
  .yarn/cache/eslint-config-prettier-npm-7.2.0-94db6614b2-6812150ea4.zip
  .yarn/cache/eslint-npm-7.20.0-42a38efe95-1d56cabc7e.zip
  .yarn/cache/esquery-npm-1.4.0-f39408b1a7-3293ecc150.zip
  package.json
  yarn.lock
Due: yarn lint

feat(units): add slack colors
  packages/units/src/color.ts
Due: yarn lint, yarn typecheck, yarn test

Path conditions:
  yarn lint: (any of: **/*.js) or (any of: **/*.{ts,tsx})
  textlint: any of: **/*.md
  yarn typecheck: any of: **/*.{ts,tsx}
  yarn test: any of: **/*.{ts,tsx}
