Repository stillmine/packages: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint, textlint, yarn typecheck, yarn test

feat(react-components): Text 컴포넌트 추가 (#154)
  .changeset/sweet-plums-begin.md
  packages/react-components/.npmignore
  packages/react-components/jest.config.js
  packages/react-components/package.json
  packages/react-components/rollup.config.js
  packages/react-components/src/Text.tsx
  packages/react-components/src/Typography/Text.tsx
  packages/react-components/src/Typography/mod.ts
  packages/react-components/src/mod.ts
  packages/react-components/tsconfig.cjs.json
  packages/react-components/tsconfig.esm.json
  pnpm-lock.yaml
Due: yarn lint, textlint, yarn typecheck, yarn test

ci: reduce matrix
  .github/workflows/ci.yaml
  .github/workflows/release.yaml
Due: none

chore(react-components): modify repository field
  .changeset/stale-doors-hang.md
  packages/react-components/package.json
Due: textlint

chore: CI node matrix 조정 (#156)
  .changeset/stale-doors-hang.md
  .github/workflows/ci.yaml
  .github/workflows/release.yaml
  packages/react-components/package.json
Due: textlint

chore: bump versions
  .changeset/brave-ways-whisper.md
  packages/hooks/package.json
  packages/react-components/package.json
  packages/styles/package.json
  packages/units/package.json
  packages/utils/package.json
  pnpm-lock.yaml
Due: textlint

chore: remove unused files
  .github/workflows/auto-merge.yaml
  .github/workflows/auto-update.yaml
  package.json
  pnpm-lock.yaml
  rush.json
Due: none

chore: bump versions (#158)
  .changeset/brave-ways-whisper.md
  .github/workflows/auto-merge.yaml
  .github/workflows/auto-update.yaml
  package.json
  packages/hooks/package.json
  packages/react-components/package.json
  packages/styles/package.json
  packages/units/package.json
  packages/utils/package.json
  pnpm-lock.yaml
  rush.json
Due: textlint

feat(react-components): add external UI library
  .changeset/tricky-phones-protect.md
  packages/react-components/package.json
  packages/react-components/src/mod.ts
  pnpm-lock.yaml
Due: yarn lint, textlint, yarn typecheck, yarn test

chore: use npm
  .changeset/chilly-dryers-burn.md
  .github/workflows/ci.yaml
  .github/workflows/release.yaml
  .husky/commit-msg
  .husky/post-merge
  .vscode/settings.json
  CHANGELOG.md
  examples/with-next/package.json
  lerna.json
  package-lock.json
  package.json
  packages/cli/cli.js
  packages/cli/package.json
  packages/hooks/package.json
  packages/next-config/package.json
  packages/react-components/package.json
  packages/styles/package.json
  packages/types/package.json
  packages/units/package.json
  packages/utils/package.json
  packages/validator/package.json
  packages/webpack-config/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: yarn lint, textlint

fix: npx
  .github/workflows/release.yaml
Due: none

fix: --if-present
  .github/workflows/ci.yaml
  .github/workflows/release.yaml
  .husky/post-merge
  package-lock.json
  package.json
Due: none

feat(react-components): migrate local components
  .changeset/funny-toys-stare.md
  package-lock.json
  packages/react-components/package.json
  packages/react-components/src/CurrencyInput.tsx
  packages/react-components/src/Field.tsx
  packages/react-components/src/GlobalErrorBoundary.tsx
  packages/react-components/src/PasswordInput.tsx
  packages/react-components/src/SSRSuspense.tsx
  packages/react-components/src/SelectInput.stories.tsx
  packages/react-components/src/SelectInput.tsx
  packages/react-components/src/Suspense/SuspenseBoundary.tsx
  packages/react-components/src/Suspense/mod.ts
  packages/react-components/src/SuspenseBoundary.tsx
  packages/react-components/src/TextInput.stories.tsx
  packages/react-components/src/TextInput.tsx
  packages/react-components/src/ThemeProvider.tsx
  packages/react-components/src/calendar/Calendar.stories.tsx
  packages/react-components/src/calendar/Calendar.tsx
  packages/react-components/src/mod.ts
  packages/react-components/tsconfig.json
Due: yarn lint, textlint, yarn typecheck, yarn test

fix(react-components): fix build error
  .changeset/gorgeous-cobras-pull.md
  package-lock.json
  packages/react-components/tsconfig.json
Due: textlint

chore: use pnpm again
  .changeset/nasty-rings-love.md
  .github/workflows/ci.yaml
  .github/workflows/release.yaml
  .husky/commit-msg
  .husky/post-merge
  .vscode/settings.json
  package-lock.json
  package.json
  packages/cli/package.json
  packages/hooks/package.json
  packages/next-config/package.json
  packages/react-components/package.json
  packages/styles/package.json
  packages/types/package.json
  packages/units/package.json
  packages/utils/package.json
  packages/validator/package.json
  packages/webpack-config/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: textlint

fix: use workspace protocol
  .changeset/poor-eyes-marry.md
  packages/hooks/package.json
  packages/react-components/package.json
  packages/styles/package.json
  pnpm-lock.yaml
Due: textlint

feat(tsconfig): release major
  .changeset/beige-donkeys-study.md
  packages/tsconfig/tsconfig.json
Due: textlint

feat(next-config): nextjs peer dependencies version up
  .changeset/two-owls-compare.md
  packages/next-config/package.json
  packages/next-config/src/NextConfig.ts
  packages/next-config/src/next.config.ts
  pnpm-lock.yaml
Due: yarn lint, textlint, yarn typecheck, yarn test

fix(react-components): add missing dependencies
  .changeset/silver-numbers-sit.md
  .github/workflows/release.yaml
  packages/react-components/package.json
  pnpm-lock.yaml
Due: textlint

fix(types): modify types
  .changeset/popular-mirrors-reply.md
  packages/types/package.json
Due: textlint

feat(types,units): add ValueOf, add unit constants
  .changeset/sixty-toes-speak.md
  packages/types/src/ValueOf.ts
  packages/types/src/mod.ts
  packages/units/package.json
  packages/units/src/color.ts
  packages/units/src/mod.ts
  packages/units/src/typography.ts
  pnpm-lock.yaml
Due: yarn lint, textlint, yarn typecheck, yarn test

feat(react-components): remove some unused components
  .changeset/hot-colts-double.md
  packages/react-components/src/Button/Button.stories.tsx
  packages/react-components/src/Button/Button.tsx
  packages/react-components/src/Chip/Chip.tsx
  packages/react-components/src/Container/Container.tsx
  packages/react-components/src/CurrencyInput.tsx
  packages/react-components/src/Flex.tsx
  packages/react-components/src/Flex/Flex.tsx
  packages/react-components/src/Flex/mod.ts
  packages/react-components/src/FlexCenter.tsx
  packages/react-components/src/GlobalErrorBoundary.tsx
  packages/react-components/src/Icon/Github.tsx
  packages/react-components/src/Icon/Linkedin.tsx
  packages/react-components/src/Icon/Mail.tsx
  packages/react-components/src/Input/Input.tsx
  packages/react-components/src/Input/mod.ts
  packages/react-components/src/Loader/Spinner.tsx
  packages/react-components/src/Modal/Modal.tsx
  packages/react-components/src/PasswordInput.tsx
  packages/react-components/src/ProgressBar/ProgressBar.stories.tsx
  packages/react-components/src/ProgressBar/ProgressBar.tsx
  packages/react-components/src/Select/SearchableSelect.tsx
  packages/react-components/src/Select/Select.stories.tsx
  packages/react-components/src/Select/Select.test.tsx
  packages/react-components/src/Select/Select.tsx
  packages/react-components/src/Select/SelectOption.tsx
  packages/react-components/src/Select/mod.ts
  packages/react-components/src/SelectInput.tsx
  packages/react-components/src/Stack/Stack.tsx
  packages/react-components/src/Tab/TabItem.tsx
  packages/react-components/src/Text.tsx
  packages/react-components/src/TextInput.tsx
  packages/react-components/src/card.tsx
  packages/react-components/src/mod.ts
  packages/react-components/src/progress.tsx
Due: yarn lint, textlint, yarn typecheck, yarn test

feat: setup storybook
  .babelrc
  .storybook/main.js
  .storybook/preview.tsx
  package.json
  packages/react-components/.babelrc
  packages/react-components/.storybook/main.js
  packages/react-components/.storybook/preview.js
  packages/react-components/.storybook/styles.css
  packages/react-components/package.json
  packages/react-components/src/Loader/Loader.stories.tsx
  packages/react-components/src/calendar/Calendar.stories.tsx
  pnpm-lock.yaml
Due: yarn lint, yarn typecheck, yarn test

Path conditions:
  yarn lint: (any of: **/*.js) or (any of: **/*.{ts,tsx})
  textlint: any of: **/*.md
  yarn typecheck: any of: **/*.{ts,tsx}
  yarn test: any of: **/*.{ts,tsx}
