Repository stillmine/packages: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint, textlint, yarn typecheck, yarn test

.lintstagedrc:

{
  "**/*.js": "yarn lint",
  "**/*.md": "textlint",
  "**/*.{ts,tsx}": [
    "yarn typecheck",
    "yarn lint",
    "yarn test"
  ]
}

chore: publish v0.3.1 [skip ci]
  CHANGELOG.md
  lerna.json
  packages/eslint-config/CHANGELOG.md
  packages/eslint-config/package.json
Due: textlint

feat(hooks): named tuple
  packages/hooks/src/useBoolean.ts
Due: yarn lint, yarn typecheck, yarn test

feat(hooks): named tuple (#148)
  packages/hooks/src/useBoolean.ts
Due: yarn lint, yarn typecheck, yarn test

chore: publish v0.4.0 [skip ci]
  CHANGELOG.md
  examples/with-next/CHANGELOG.md
  examples/with-next/package.json
  lerna.json
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/eslint-config/CHANGELOG.md
  packages/eslint-config/package.json
  packages/hooks/CHANGELOG.md
  packages/hooks/package.json
  packages/next-config/CHANGELOG.md
  packages/next-config/package.json
  packages/react-components/CHANGELOG.md
  packages/react-components/package.json
  packages/rollup-config/CHANGELOG.md
  packages/rollup-config/package.json
  packages/styles/CHANGELOG.md
  packages/styles/package.json
  packages/tsconfig/CHANGELOG.md
  packages/tsconfig/package.json
  packages/types/CHANGELOG.md
  packages/types/package.json
  packages/units/CHANGELOG.md
  packages/units/package.json
  packages/utils/CHANGELOG.md
  packages/utils/package.json
  packages/validator/CHANGELOG.md
  packages/validator/package.json
  packages/webpack-config/CHANGELOG.md
  packages/webpack-config/package.json
Due: textlint

fix(next-config): webpack5
  packages/next-config/src/NextConfig.ts
  packages/next-config/src/next.config.ts
Due: yarn lint, yarn typecheck, yarn test

fix(next-config): webpack5 (#149)
  packages/next-config/src/NextConfig.ts
  packages/next-config/src/next.config.ts
Due: yarn lint, yarn typecheck, yarn test

chore: publish v0.4.1 [skip ci]
  CHANGELOG.md
  lerna.json
  packages/next-config/CHANGELOG.md
  packages/next-config/package.json
Due: textlint

ci: esbuild rebuild
  .pnp.js
  package.json
  yarn.lock
Due: yarn lint

ci: core-js-pure rebuild
  .pnp.js
  package.json
  yarn.lock
Due: yarn lint

ci: add build step
  .github/workflows/ci.yaml
Due: none

ci: node version
  .github/workflows/ci.yaml
Due: none

chore: publish v0.4.2 [skip ci]
  CHANGELOG.md
  examples/with-next/CHANGELOG.md
  examples/with-next/package.json
  lerna.json
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/hooks/CHANGELOG.md
  packages/hooks/package.json
  packages/next-config/CHANGELOG.md
  packages/next-config/package.json
  packages/react-components/CHANGELOG.md
  packages/react-components/package.json
  packages/styles/CHANGELOG.md
  packages/styles/package.json
  packages/types/CHANGELOG.md
  packages/types/package.json
  packages/units/CHANGELOG.md
  packages/units/package.json
  packages/utils/CHANGELOG.md
  packages/utils/package.json
  packages/validator/CHANGELOG.md
  packages/validator/package.json
  packages/webpack-config/CHANGELOG.md
  packages/webpack-config/package.json
Due: textlint

ci: use artifact
  .github/workflows/ci.yaml
Due: none

ci: add checkout & node
  .github/workflows/ci.yaml
Due: none

chore: ls
  .github/workflows/ci.yaml
Due: none

ci: download artifact path
  .github/workflows/ci.yaml
Due: none

chore: remove ls
  .github/workflows/ci.yaml
Due: none

ci: use artifact (#151)
  .github/workflows/ci.yaml
Due: none

ci: modify CI
  .github/workflows/ci.yaml
  .github/workflows/setup-pnpm/action.yaml
Due: none

ci: move setup-pnpm location
  .github/setup-pnpm/action.yaml
Due: none

build: update pnpm-lock.yaml
  pnpm-lock.yaml
Due: none

chore(eslint-config): test release
  .changeset/config.json
  package.json
  packages/eslint-config/CHANGELOG.md
  packages/eslint-config/package.json
  pnpm-lock.yaml
Due: textlint

feat(eslint-config): add storybook and test related rules
  .changeset/modern-shirts-wave.md
  packages/eslint-config/index.js
  packages/eslint-config/package.json
  pnpm-lock.yaml
Due: yarn lint, textlint

feat(eslint-config): remove react config & merge into index
  .changeset/modern-shirts-wave.md
  .eslintrc
  .prettierrc
  packages/eslint-config/CHANGELOG.md
  packages/eslint-config/index.js
  packages/eslint-config/package.json
  packages/eslint-config/react.js
  packages/eslint-config/src/rules/prettier.js
  packages/eslint-config/src/rules/react/emotion.js
  packages/eslint-config/src/rules/react/index.js
  packages/eslint-config/src/rules/react/react-hooks.js
  packages/eslint-config/src/rules/typescript/index.js
  packages/eslint-config/src/rules/typescript/typescript.js
  packages/eslint-config/src/utils.js
  pnpm-lock.yaml
Due: yarn lint, textlint

fix(eslint-config): fix path resolve
  packages/eslint-config/CHANGELOG.md
  packages/eslint-config/package.json
  packages/eslint-config/src/utils.js
Due: yarn lint, textlint

feat(eslint-config): remove all custom rules from typescript
  packages/eslint-config/CHANGELOG.md
  packages/eslint-config/package.json
  packages/eslint-config/src/rules/typescript/typescript.js
Due: yarn lint, textlint

feat(eslint-config): move peer deps into deps
  package.json
  packages/eslint-config/CHANGELOG.md
  packages/eslint-config/package.json
  pnpm-lock.yaml
Due: textlint

feat(eslint-config): add next config
  packages/eslint-config/CHANGELOG.md
  packages/eslint-config/package.json
  packages/eslint-config/src/rules/react/index.js
  packages/eslint-config/src/rules/react/next.js
  pnpm-lock.yaml
Due: yarn lint, textlint

ci: add pnpm release workflow
  .github/workflows/release.yaml
Due: none

ci: add pnpm/action-setup
  .github/workflows/release.yaml
Due: none

ci: add pnpm release workflow (#153)
  .github/workflows/release.yaml
Due: none

feat(react-components): add Text
  packages/react-components/.npmignore
  packages/react-components/jest.config.js
  packages/react-components/package.json
  packages/react-components/rollup.config.js
  packages/react-components/src/Text.tsx
  packages/react-components/src/Typography/Text.tsx
  packages/react-components/src/Typography/mod.ts
  packages/react-components/src/mod.ts
  packages/react-components/tsconfig.cjs.json
  packages/react-components/tsconfig.esm.json
  pnpm-lock.yaml
Due: yarn lint, yarn typecheck, yarn test

chore(react-components): bump version
  .changeset/sweet-plums-begin.md
Due: textlint
