Repository stillmine/packages: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint, textlint, yarn typecheck, yarn test

ci: modify release script
  package.json
Due: none

ci: modify release script (#51)
  package.json
Due: none

chore(deps): update dependency textlint to v11.9.0
  .pnp.js
  .yarn/cache/@textlint-ast-tester-npm-2.3.3-ec96b11a59-d459e9159b.zip
  .yarn/cache/@textlint-ast-tester-npm-2.3.4-06382208ab-334c1df614.zip
  .yarn/cache/@textlint-ast-traverse-npm-2.3.3-018e1343b9-a5057ead20.zip
  .yarn/cache/@textlint-ast-traverse-npm-2.3.4-95c10f0702-7413c0b500.zip
  .yarn/cache/@textlint-feature-flag-npm-3.3.3-d5e96bc1b3-8ec2fabe8f.zip
  .yarn/cache/@textlint-feature-flag-npm-3.3.4-6638ed657f-591cbcff4d.zip
  .yarn/cache/@textlint-fixer-formatter-npm-3.3.3-07049bc64d-a584328812.zip
  .yarn/cache/@textlint-fixer-formatter-npm-3.3.4-4d408d4cf0-893ccac2e5.zip
  .yarn/cache/@textlint-kernel-npm-3.4.3-742cebe45b-3737473cd8.zip
  .yarn/cache/@textlint-kernel-npm-3.4.4-4fca0adf57-58b6cb25ca.zip
  .yarn/cache/@textlint-linter-formatter-npm-3.3.3-0205e9dd2e-b02ced0eb0.zip
  .yarn/cache/@textlint-linter-formatter-npm-3.3.4-d77df3f873-b89ca7bad6.zip
  .yarn/cache/@textlint-markdown-to-ast-npm-6.3.3-aa91d4f11d-d2b87f329c.zip
  .yarn/cache/@textlint-markdown-to-ast-npm-6.3.4-f5a319241c-d7490cf9ab.zip
  .yarn/cache/@textlint-module-interop-npm-1.2.3-2e5a123e39-31ab730c16.zip
  .yarn/cache/@textlint-module-interop-npm-1.2.4-ab6820ec84-3c5a854373.zip
  .yarn/cache/@textlint-source-code-fixer-npm-3.4.3-27cf01aaf8-bc3897521f.zip
  .yarn/cache/@textlint-source-code-fixer-npm-3.4.4-1b04a679f4-fe9b96c925.zip
  .yarn/cache/@textlint-text-to-ast-npm-3.3.3-ea7e107a91-9955360f1c.zip
  .yarn/cache/@textlint-text-to-ast-npm-3.3.4-b9dd7d243b-64a1c811cb.zip
  .yarn/cache/@textlint-textlint-plugin-markdown-npm-5.3.3-25918f71b5-f3178ccabe.zip
  .yarn/cache/@textlint-textlint-plugin-markdown-npm-5.3.4-26afafeeb5-a21cb6d449.zip
  .yarn/cache/@textlint-textlint-plugin-text-npm-4.3.3-b319cd7d1b-398915a036.zip
  .yarn/cache/@textlint-textlint-plugin-text-npm-4.3.4-b03cf6942c-69fcf94291.zip
  .yarn/cache/@textlint-types-npm-1.5.3-a682dd6840-90ed7f9daa.zip
  .yarn/cache/@textlint-types-npm-1.5.4-02ccdff2b1-3fbcce9f32.zip
  .yarn/cache/@textlint-utils-npm-1.2.3-e42602ab09-f0380e2de8.zip
  .yarn/cache/@textlint-utils-npm-1.2.4-89b604de2b-809fe27c32.zip
  .yarn/cache/textlint-npm-11.8.3-22b3c20273-03a28567d1.zip
  .yarn/cache/textlint-npm-11.9.0-cb41263a20-f007e0fd81.zip
  package.json
  yarn.lock
Due: yarn lint

chore(deps): update dependency webpack to v5.28.0
  .pnp.js
  .yarn/cache/webpack-npm-5.27.1-e2d9a8d6fe-9f801e3d86.zip
  .yarn/cache/webpack-npm-5.28.0-69f7066b52-bb1948e6a2.zip
  package.json
  yarn.lock
Due: yarn lint

chore(deps): update dependency husky to v5
  .pnp.js
  .yarn/cache/compare-versions-npm-3.6.0-0bb57ed638-0952526450.zip
  .yarn/cache/husky-npm-4.3.8-f7cd00e56d-1ac4fb51ff.zip
  .yarn/cache/husky-npm-5.2.0-ceba7e593c-a5a99bea46.zip
  .yarn/cache/opencollective-postinstall-npm-2.0.3-954643c36b-d75b06b80e.zip
  .yarn/cache/pkg-dir-npm-5.0.0-3ba6768b42-86f6ecee17.zip
  package.json
  yarn.lock
Due: yarn lint

chore(deps): update dependency @rollup/plugin-node-resolve to v11.2.1
  .pnp.js
  .yarn/cache/@rollup-plugin-node-resolve-npm-11.1.1-96281b2a2a-79161dcdf4.zip
  .yarn/cache/@rollup-plugin-node-resolve-npm-11.2.1-1cea144df4-ae1bed46a9.zip
  packages/hooks/package.json
  packages/react-components/package.json
  yarn.lock
Due: yarn lint

chore: add gitattributes
  .gitattributes
  CHANGELOG.md
  lerna.json
Due: textlint

chore(deps): update babel monorepo
  .pnp.js
  .yarn/cache/@babel-compat-data-npm-7.13.12-5237329d0e-a7165243d6.zip
  .yarn/cache/@babel-core-npm-7.13.10-57ebf35dd5-728249a0ba.zip
  .yarn/cache/@babel-core-npm-7.13.13-c6b45ffe28-94436aaafa.zip
  .yarn/cache/@babel-helper-compilation-targets-npm-7.13.13-920e7fb719-2d77381d5f.zip
  .yarn/cache/@babel-helper-member-expression-to-functions-npm-7.13.12-0092ecd45c-2c075f72e5.zip
  .yarn/cache/@babel-helper-module-imports-npm-7.13.12-6f45f76073-4d1d3364be.zip
  .yarn/cache/@babel-helper-module-transforms-npm-7.13.12-f4b010ae8e-d2f9bb7a62.zip
  .yarn/cache/@babel-helper-replace-supers-npm-7.13.12-dcea88adef-38b79cb56a.zip
  .yarn/cache/@babel-helper-simple-access-npm-7.13.12-038331126e-eff532a157.zip
  .yarn/cache/@babel-parser-npm-7.13.13-3ee901abcf-ae20be2d96.zip
  .yarn/cache/@babel-plugin-bugfix-v8-spread-parameters-in-optional-chaining-npm-7.13.12-3109124366-ad0b508a5c.zip
  .yarn/cache/@babel-plugin-proposal-optional-chaining-npm-7.13.12-a3401f54cf-8663cfbf5c.zip
  .yarn/cache/@babel-plugin-proposal-optional-chaining-npm-7.13.8-4a45351b9a-8295f1ceda.zip
  .yarn/cache/@babel-plugin-transform-react-jsx-development-npm-7.12.17-2163247b98-30f9dfd8a6.zip
  .yarn/cache/@babel-plugin-transform-react-jsx-npm-7.13.12-6932b869d0-5d4ff7d997.zip
  .yarn/cache/@babel-preset-env-npm-7.13.10-244f817c81-1f23eb25de.zip
  .yarn/cache/@babel-preset-env-npm-7.13.12-791831e72a-e86ef0d986.zip
  .yarn/cache/@babel-preset-react-npm-7.12.13-027b790324-b5e652172e.zip
  .yarn/cache/@babel-preset-react-npm-7.13.13-a2c0ad529c-7c712240df.zip
  .yarn/cache/@babel-traverse-npm-7.13.13-877b553b60-2669b65473.zip
  .yarn/cache/@babel-types-npm-7.13.13-644bee6171-7c55948f2f.zip
  packages/hooks/package.json
  packages/react-components/package.json
  yarn.lock
Due: yarn lint

chore(deps): update dependency @testing-library/jest-dom to v5.11.10
  .pnp.js
  .yarn/cache/@testing-library-jest-dom-npm-5.11.10-0c42cd523e-25bf4cd9f6.zip
  .yarn/cache/@testing-library-jest-dom-npm-5.11.9-ad0c7dbe3e-c285c044ed.zip
  packages/react-components/package.json
  yarn.lock
Due: yarn lint

chore(deps): update dependency @types/node to v14.14.37
  .pnp.js
  .yarn/cache/@types-node-npm-14.14.35-c55176fef6-0f6320bf53.zip
  .yarn/cache/@types-node-npm-14.14.37-6783f920bd-5e2d9baf75.zip
  packages/webpack/package.json
  yarn.lock
Due: yarn lint

chore: add gitattributes (#54)
  .gitattributes
  CHANGELOG.md
  lerna.json
Due: textlint

chore: update renovate config
  .pnp.js
  .yarn/install-state.gz
  renovate.json
Due: yarn lint

chore: update renovate config (#56)
  .pnp.js
  .yarn/install-state.gz
  renovate.json
Due: yarn lint

ci: add auto merge action
  .github/workflows/ci.yaml
Due: none

ci: add auto merge action (#57)
  .github/workflows/ci.yaml
Due: none

chore(deps): update dependency @rollup/plugin-commonjs to v18
  .pnp.js
  .yarn/cache/@rollup-plugin-commonjs-npm-17.1.0-0289bc4d60-9b162f9309.zip
  .yarn/cache/@rollup-plugin-commonjs-npm-18.0.0-6e9288de62-4778002ae3.zip
  packages/react-components/package.json
  yarn.lock
Due: yarn lint

ci: add auto-update & modify auto-merge
  .github/workflows/auto-merge.yaml
  .github/workflows/auto-update.yaml
  .github/workflows/ci.yaml
Due: none

ci: add auto-update & modify auto-merge (#58)
  .github/workflows/auto-merge.yaml
  .github/workflows/auto-update.yaml
  .github/workflows/ci.yaml
Due: none

chore(deps): update dependency @types/react to v17.0.3
  .pnp.js
  .yarn/cache/@types-react-npm-17.0.2-3f3122aadb-de1cd27ce5.zip
  .yarn/cache/@types-react-npm-17.0.3-dc5fdac36f-5bcaabadc9.zip
  .yarn/cache/@types-scheduler-npm-0.16.1-9a58541608-0124c2e4de.zip
  packages/hooks/package.json
  packages/react-components/package.json
  packages/styles/package.json
  packages/types/package.json
  yarn.lock
Due: yarn lint

chore(deps): update dependency @types/react-dom to v17.0.3
  .pnp.js
  .yarn/cache/@types-react-dom-npm-17.0.1-c702bca04c-695dd4bbef.zip
  .yarn/cache/@types-react-dom-npm-17.0.3-089d336379-9314c91a98.zip
  packages/react-components/package.json
  yarn.lock
Due: yarn lint

chore(deps): update dependency core-js to v3.9.1
  .pnp.js
  .yarn/cache/core-js-npm-3.8.3-f6bf459c9f-3c67d1732d.zip
  .yarn/cache/core-js-npm-3.9.1-5a7342ca0f-3f36046624.zip
  packages/react-components/package.json
  packages/styles/package.json
  yarn.lock
Due: yarn lint

chore(deps): update dependency eslint to v7.23.0
  .pnp.js
  .yarn/cache/@eslint-eslintrc-npm-0.3.0-360365131b-00e87c1946.zip
  .yarn/cache/eslint-npm-7.20.0-42a38efe95-1d56cabc7e.zip
  .yarn/cache/file-entry-cache-npm-6.0.0-405da3cf59-aec91f60f9.zip
  packages/eslint-config/package.json
  packages/hooks/package.json
  yarn.lock
Due: yarn lint

chore(deps): update dependency eslint-plugin-react to v7.23.1
  .pnp.js
  .yarn/cache/eslint-plugin-react-npm-7.22.0-e91b193bbf-34927cb488.zip
  packages/eslint-config/package.json
  packages/hooks/package.json
  yarn.lock
Due: yarn lint

chore(deps): update dependency rollup to v2.43.1
  .pnp.js
  .yarn/cache/rollup-npm-2.38.5-02463b9cce-b8ccad97a0.zip
  .yarn/cache/rollup-npm-2.43.1-9012297fd4-058e27219f.zip
  packages/hooks/package.json
  packages/react-components/package.json
  yarn.lock
Due: yarn lint

chore(deps): update react monorepo to v17.0.2
  .pnp.js
  .yarn/cache/react-dom-npm-17.0.2-f551215af1-960a74ff66.zip
  .yarn/cache/react-npm-17.0.2-99ba37d931-7d0dfebafe.zip
  .yarn/cache/scheduler-npm-0.20.2-90beaecfba-2ba121e53e.zip
  packages/hooks/package.json
  packages/react-components/package.json
  yarn.lock
Due: yarn lint

chore(deps): update typescript-eslint monorepo to v4.19.0
  .pnp.js
  .yarn/cache/@typescript-eslint-eslint-plugin-npm-4.18.0-f0dd1e4732-f137baf23f.zip
  .yarn/cache/@typescript-eslint-experimental-utils-npm-4.18.0-b1648e4dcf-1f1357b38a.zip
  .yarn/cache/@typescript-eslint-parser-npm-4.18.0-73d958664a-d2f907dc28.zip
  .yarn/cache/@typescript-eslint-scope-manager-npm-4.18.0-650d746fc7-c543d4bf73.zip
  .yarn/cache/@typescript-eslint-types-npm-4.18.0-35a3bc1eab-45d3df0c49.zip
  .yarn/cache/@typescript-eslint-typescript-estree-npm-4.18.0-674996a73c-b77e150d28.zip
  .yarn/cache/@typescript-eslint-visitor-keys-npm-4.18.0-6b723e2167-654576d330.zip
  packages/eslint-config/package.json
  packages/hooks/package.json
  yarn.lock
Due: yarn lint

fix(deps): update dependency @reach/auto-id to v0.14.0
  .pnp.js
  .yarn/cache/@reach-auto-id-npm-0.13.0-ca151958aa-bd9aac5f60.zip
  .yarn/cache/@reach-auto-id-npm-0.14.0-99f5f53e37-587d1bfc3f.zip
  .yarn/cache/@reach-utils-npm-0.13.0-bc7c9752cd-3c421b4938.zip
  .yarn/cache/@reach-utils-npm-0.14.0-76b8bbcd77-eee16852fa.zip
  packages/react-components/package.json
  yarn.lock
Due: yarn lint

fix(deps): update dependency react-use to v17.2.1
  .pnp.js
  .yarn/cache/@types-js-cookie-npm-2.2.6-dd551f922c-08d3a2a014.zip
  .yarn/cache/react-use-npm-17.1.1-55f9b704f7-796af77ad2.zip
  .yarn/cache/react-use-npm-17.2.1-e543166a97-b18eaeb5dd.zip
  packages/react-components/package.json
  yarn.lock
Due: yarn lint

chore(deps): update dependency concurrently to v6
  .pnp.js
  .yarn/cache/concurrently-npm-5.3.0-181bac49ed-c46bb460ea.zip
  .yarn/cache/concurrently-npm-6.0.0-30b74cef1f-c5ef6bb312.zip
  .yarn/cache/date-fns-npm-2.17.0-2c8505ac95-51ee9e264a.zip
  .yarn/cache/date-fns-npm-2.19.0-225f089506-99ec34199c.zip
  .yarn/cache/read-pkg-npm-4.0.1-d15bb8956e-cc1ed67240.zip
  .yarn/cache/supports-color-npm-8.1.1-289e937149-0219f5c917.zip
  .yarn/cache/yargs-npm-13.3.2-1588f5dd4c-92c612cd14.zip
  .yarn/cache/yargs-parser-npm-13.1.2-546b639909-82d3b7ab99.zip
  packages/hooks/package.json
  packages/react-components/package.json
  packages/styles/package.json
  packages/types/package.json
  packages/units/package.json
  packages/utils/package.json
  packages/validator/package.json
  yarn.lock
Due: yarn lint

chore(deps): update dependency eslint-config-prettier to v8
  .pnp.js
  .yarn/cache/eslint-config-prettier-npm-7.2.0-94db6614b2-6812150ea4.zip
  packages/eslint-config/package.json
  packages/hooks/package.json
  yarn.lock
Due: yarn lint

chore(deps): update dependency @babel/core to v7.13.14
  .pnp.js
  .yarn/cache/@babel-core-npm-7.13.13-c6b45ffe28-94436aaafa.zip
  .yarn/cache/@babel-core-npm-7.13.14-f50bfae47b-36b0d60407.zip
  .yarn/cache/@babel-helper-module-transforms-npm-7.13.12-f4b010ae8e-d2f9bb7a62.zip
  .yarn/cache/@babel-helper-module-transforms-npm-7.13.14-6cd973165c-576e86d0d4.zip
  .yarn/cache/@babel-types-npm-7.13.14-2ecc61348b-0dda1e7740.zip
  packages/hooks/package.json
  packages/react-components/package.json
  yarn.lock
Due: yarn lint

chore(deps): update dependency rollup to v2.44.0
  .pnp.js
  .yarn/cache/rollup-npm-2.43.1-9012297fd4-058e27219f.zip
  .yarn/cache/rollup-npm-2.44.0-933a5cc29a-8142c058b2.zip
  packages/hooks/package.json
  packages/react-components/package.json
  yarn.lock
Due: yarn lint

chore(deps): update commitlint monorepo to v12.1.1
  .pnp.js
  .yarn/cache/@commitlint-cli-npm-12.0.1-aca846c167-ae79bf1c7b.zip
  .yarn/cache/@commitlint-cli-npm-12.1.1-46768b55a2-d43562ef87.zip
  .yarn/cache/@commitlint-config-conventional-npm-12.0.1-3e9faa236a-1999dea7f2.zip
  .yarn/cache/@commitlint-config-conventional-npm-12.1.1-c2fda49e70-3474a7b70a.zip
  .yarn/cache/@commitlint-config-lerna-scopes-npm-12.0.1-cd1eacdab8-9d963c37dd.zip
  .yarn/cache/@commitlint-config-lerna-scopes-npm-12.1.1-034b810128-f949f044fa.zip
  .yarn/cache/@commitlint-ensure-npm-12.0.1-950ac14cf3-93457d8891.zip
  .yarn/cache/@commitlint-ensure-npm-12.1.1-2d7dfdd3f0-6e0e0cdef6.zip
  .yarn/cache/@commitlint-execute-rule-npm-12.0.1-2c3e6a8a98-372b96da8e.zip
  .yarn/cache/@commitlint-execute-rule-npm-12.1.1-fcd98a86b2-46ed03f716.zip
  .yarn/cache/@commitlint-format-npm-12.0.1-0887fd1ba5-51ff4f7aec.zip
  .yarn/cache/@commitlint-format-npm-12.1.1-72ad097232-3b3afaba59.zip
  .yarn/cache/@commitlint-is-ignored-npm-12.1.0-1e2039d0f5-d0d4bf1ac0.zip
  .yarn/cache/@commitlint-is-ignored-npm-12.1.1-77ba445682-b843e29b14.zip
  .yarn/cache/@commitlint-lint-npm-12.1.0-a7fec3988d-b91502daaf.zip
  .yarn/cache/@commitlint-lint-npm-12.1.1-8b09412316-14e79d1a15.zip
  .yarn/cache/@commitlint-load-npm-12.1.0-90ed4d7408-eceb5ca6df.zip
  .yarn/cache/@commitlint-load-npm-12.1.1-bc23140e2e-0219855239.zip
  .yarn/cache/@commitlint-message-npm-12.1.0-e7a2bb7fd3-0d255904bf.zip
  .yarn/cache/@commitlint-message-npm-12.1.1-7f969b21f3-4a5ffffab0.zip
  .yarn/cache/@commitlint-parse-npm-12.1.0-2394f56c70-0ff35b6e5a.zip
  .yarn/cache/@commitlint-parse-npm-12.1.1-c149b0a43d-2f20e684da.zip
  .yarn/cache/@commitlint-read-npm-12.1.0-4ee36698b3-c2dedab2e2.zip
  .yarn/cache/@commitlint-read-npm-12.1.1-b6309a7a8e-adf7d3fcca.zip
  .yarn/cache/@commitlint-resolve-extends-npm-12.0.1-ba0edaf105-7a6702d298.zip
  .yarn/cache/@commitlint-resolve-extends-npm-12.1.1-52ec05410a-6826bc4d8d.zip
  .yarn/cache/@commitlint-rules-npm-12.1.0-ea86c66402-9bb3063e84.zip
  .yarn/cache/@commitlint-rules-npm-12.1.1-2d5f0a7778-90ae6a58e8.zip
  .yarn/cache/@commitlint-to-lines-npm-12.0.1-e5b7503a09-3762bda0ca.zip
  .yarn/cache/@commitlint-to-lines-npm-12.1.1-0434af5197-5119752fe1.zip
  .yarn/cache/@commitlint-top-level-npm-12.0.1-8b513f6b00-76f48247c2.zip
  .yarn/cache/@commitlint-top-level-npm-12.1.1-7dc07d8778-918b96e70a.zip
  .yarn/cache/@commitlint-types-npm-12.0.1-b514e28abe-da90e3c29e.zip
  .yarn/cache/@commitlint-types-npm-12.1.1-ac29e34c0d-c9a93f6eb6.zip
  .yarn/cache/semver-npm-7.3.5-618cf5db6a-c53624ddf4.zip
  package.json
  yarn.lock
Due: yarn lint

chore(deps): update dependency @testing-library/react to v11.2.6
  .pnp.js
  .yarn/cache/@testing-library-react-npm-11.2.5-dc83329a0e-1389b4eb11.zip
  .yarn/cache/@testing-library-react-npm-11.2.6-92e094c052-3ad25d7b88.zip
  packages/react-components/package.json
  yarn.lock
Due: yarn lint

chore(deps): update dependency @testing-library/react-hooks to v5.1.1
  .pnp.js
  .yarn/cache/@testing-library-react-hooks-npm-5.1.0-564b04ac32-9c03fa569c.zip
  .yarn/cache/@testing-library-react-hooks-npm-5.1.1-7ec3be7762-cae917a90b.zip
  packages/hooks/package.json
  yarn.lock
Due: yarn lint

chore(deps): update dependency core-js to v3.10.0
  .pnp.js
  .yarn/cache/core-js-npm-3.10.0-2088bcb2de-d8bb20f7da.zip
  .yarn/cache/core-js-npm-3.9.1-5a7342ca0f-3f36046624.zip
  packages/react-components/package.json
  packages/styles/package.json
  yarn.lock
Due: yarn lint

chore(deps): update typescript-eslint monorepo to v4.20.0
  .pnp.js
  .yarn/cache/@typescript-eslint-eslint-plugin-npm-4.19.0-345d421773-4928083661.zip
  .yarn/cache/@typescript-eslint-eslint-plugin-npm-4.20.0-71542df847-b458d6a83d.zip
  .yarn/cache/@typescript-eslint-experimental-utils-npm-4.19.0-116aedb5c1-aac92241f5.zip
  .yarn/cache/@typescript-eslint-experimental-utils-npm-4.20.0-050d62f1a6-924fbf0337.zip
  .yarn/cache/@typescript-eslint-parser-npm-4.19.0-7bbc7fd22c-eb90334692.zip
  .yarn/cache/@typescript-eslint-parser-npm-4.20.0-9f6dad9d2b-0d6d23e860.zip
  .yarn/cache/@typescript-eslint-scope-manager-npm-4.19.0-4ff45d9dbd-746c74e404.zip
  .yarn/cache/@typescript-eslint-scope-manager-npm-4.20.0-112dbe28df-4e5b33cc7e.zip
  .yarn/cache/@typescript-eslint-types-npm-4.19.0-678627653c-86378fece7.zip
  .yarn/cache/@typescript-eslint-types-npm-4.20.0-28c0167b25-fa059ca3ab.zip
  .yarn/cache/@typescript-eslint-typescript-estree-npm-4.19.0-8eae22e9d3-446457f253.zip
  .yarn/cache/@typescript-eslint-typescript-estree-npm-4.20.0-b880a715af-bed950e867.zip
  .yarn/cache/@typescript-eslint-visitor-keys-npm-4.19.0-92327a2d76-d9cf3501ae.zip
  .yarn/cache/@typescript-eslint-visitor-keys-npm-4.20.0-7d2481fae3-6d6e493240.zip
  package.json
  packages/eslint-config/package.json
  packages/hooks/package.json
  yarn.lock
Due: yarn lint

Path conditions:
  yarn lint: (any of: **/*.js) or (any of: **/*.{ts,tsx})
  textlint: any of: **/*.md
  yarn typecheck: any of: **/*.{ts,tsx}
  yarn test: any of: **/*.{ts,tsx}
