Repository stillmine/packages: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint, textlint, yarn typecheck, yarn test

chore(deps): update dependency @types/react-dom to v17.0.5
  .pnp.js
  .yarn/cache/@types-react-dom-npm-17.0.3-089d336379-9314c91a98.zip
  .yarn/cache/@types-react-dom-npm-17.0.5-63db13d4bc-b3e23acb7b.zip
  packages/react-components/package.json
  yarn.lock
Due: yarn lint

chore(deps): update dependency ts-jest to v26.5.6
  .pnp.js
  .yarn/cache/ts-jest-npm-26.5.4-d44a800654-8e5856b7cb.zip
  .yarn/cache/ts-jest-npm-26.5.6-fa1909416a-fd32a8b256.zip
  packages/hooks/package.json
  packages/react-components/package.json
  packages/types/package.json
  yarn.lock
Due: yarn lint

chore(deps): update dependency esbuild to v0.11.22
  .pnp.js
  .yarn/cache/esbuild-npm-0.11.21-9d1dfc8d86-5b122d678a.zip
  .yarn/cache/esbuild-npm-0.11.22-61e9ad974a-eb448d8793.zip
  packages/next-config/package.json
  yarn.lock
Due: yarn lint

fix(deps): update dependency react-use to v17.2.4
  .pnp.js
  .yarn/cache/react-use-npm-17.2.1-e543166a97-b18eaeb5dd.zip
  .yarn/cache/react-use-npm-17.2.4-c702db5427-eb215eccee.zip
  packages/react-components/package.json
  yarn.lock
Due: yarn lint

chore(deps): update dependency @testing-library/jest-dom to v5.12.0
  .pnp.js
  .yarn/cache/@testing-library-jest-dom-npm-5.11.10-0c42cd523e-25bf4cd9f6.zip
  .yarn/cache/@testing-library-jest-dom-npm-5.12.0-5f1ff0df4e-8bffa1c411.zip
  packages/react-components/package.json
  yarn.lock
Due: yarn lint

chore(deps): update dependency concurrently to v6.1.0
  .pnp.js
  .yarn/cache/concurrently-npm-6.0.0-30b74cef1f-c5ef6bb312.zip
  .yarn/cache/concurrently-npm-6.0.2-f267b33683-2bb8892c89.zip
  .yarn/cache/concurrently-npm-6.1.0-0954720a66-daa788a222.zip
  packages/hooks/package.json
  packages/next-config/package.json
  packages/react-components/package.json
  packages/styles/package.json
  packages/types/package.json
  packages/units/package.json
  packages/utils/package.json
  packages/validator/package.json
  yarn.lock
Due: yarn lint

chore(deps): update dependency core-js to v3.12.1
  .pnp.js
  .yarn/cache/core-js-npm-3.12.1-6d1063bc86-8b1d05579e.zip
  packages/react-components/package.json
  packages/styles/package.json
  yarn.lock
Due: yarn lint

chore(deps): update dependency eslint to v7.26.0
  .pnp.js
  .yarn/cache/@eslint-eslintrc-npm-0.4.0-901e1408cc-d3f51b7419.zip
  .yarn/cache/@eslint-eslintrc-npm-0.4.1-48933b2833-418f5810c8.zip
  .yarn/cache/eslint-npm-7.23.0-899360d658-f444869506.zip
  .yarn/cache/eslint-npm-7.25.0-a76b30c814-6e1782e226.zip
  .yarn/cache/eslint-npm-7.26.0-0bcc96e5d3-08f99befd7.zip
  package.json
  packages/eslint-config/package.json
  packages/hooks/package.json
  packages/next-config/package.json
  packages/react-components/package.json
  yarn.lock
Due: yarn lint

chore(deps): update emotion monorepo
  .pnp.js
  .yarn/cache/@emotion-babel-plugin-npm-11.2.0-8e0430c814-4001dc3305.zip
  .yarn/cache/@emotion-babel-plugin-npm-11.3.0-1584a07dcd-4c238862d0.zip
  .yarn/cache/@emotion-cache-npm-11.1.3-47cf0c0b4d-1d206ecfe2.zip
  .yarn/cache/@emotion-cache-npm-11.4.0-701cf41a62-5a7715ae71.zip
  .yarn/cache/@emotion-react-npm-11.1.5-bb508e1993-4e78f694df.zip
  .yarn/cache/@emotion-react-npm-11.4.0-174d777529-4058dc4de5.zip
  .yarn/cache/@emotion-serialize-npm-1.0.0-96c5d11725-21b6c15728.zip
  .yarn/cache/@emotion-serialize-npm-1.0.2-a692afdb82-7dd9ea8510.zip
  packages/react-components/package.json
  packages/styles/package.json
  yarn.lock
Due: yarn lint

chore(deps): update node.js to 14.17
  .nvmrc
  .pnp.js
  .yarn/cache/@types-node-npm-14.14.45-65a5d246b5-b9ad381a8c.zip
  packages/webpack-config/package.json
  yarn.lock
Due: yarn lint

fix(deps): update dependency @reach/auto-id to v0.15.0
  .pnp.js
  .yarn/cache/@reach-auto-id-npm-0.14.0-99f5f53e37-587d1bfc3f.zip
  .yarn/cache/@reach-auto-id-npm-0.15.0-f0744024ba-8ee799c19e.zip
  .yarn/cache/@reach-utils-npm-0.14.0-76b8bbcd77-eee16852fa.zip
  .yarn/cache/@reach-utils-npm-0.15.0-ad7c5f25fb-de7754c116.zip
  .yarn/cache/@types-warning-npm-3.0.0-aafa4d7846-cb7a16aa88.zip
  .yarn/cache/tiny-warning-npm-1.0.3-750b7a07c4-6cf9f66cb7.zip
  packages/react-components/package.json
  yarn.lock
Due: yarn lint

chore(deps): update dependency eslint-plugin-import to v2.23.2
  .pnp.js
  .yarn/cache/eslint-plugin-import-npm-2.23.1-18f3f7b8d1-e063ea3250.zip
  .yarn/cache/eslint-plugin-import-npm-2.23.2-4b59efe04c-fff1f13edb.zip
  package.json
  packages/eslint-config/package.json
  yarn.lock
Due: yarn lint

chore(deps): update dependency @types/react to v17.0.5
  .pnp.js
  .yarn/cache/@types-react-npm-17.0.3-dc5fdac36f-5bcaabadc9.zip
  .yarn/cache/@types-react-npm-17.0.5-b0d58aba4c-f9793e8113.zip
  packages/hooks/package.json
  packages/react-components/package.json
  packages/styles/package.json
  packages/types/package.json
  yarn.lock
Due: yarn lint

feat(cli): bootstrap `@stillmine/cli`
  .pnp.js
  .yarn/cache/@types-node-npm-15.3.0-7ebc66d6bc-44039665ab.zip
  .yarn/cache/arg-npm-4.1.3-1748b966a8-81b3b40b15.zip
  .yarn/cache/clipanion-npm-3.0.0-rc.12-95ffbe8b7e-b221278f7a.zip
  .yarn/cache/concurrently-npm-6.0.2-f267b33683-2bb8892c89.zip
  .yarn/cache/create-require-npm-1.1.1-839884ca2e-babd307893.zip
  .yarn/cache/esbuild-npm-0.11.21-9d1dfc8d86-5b122d678a.zip
  .yarn/cache/esbuild-npm-0.11.22-61e9ad974a-eb448d8793.zip
  .yarn/cache/eslint-npm-7.25.0-a76b30c814-6e1782e226.zip
  .yarn/cache/ts-node-npm-9.1.1-4ad31da228-a90db4a342.zip
  .yarn/cache/typanion-npm-3.3.1-ee9997c7cf-4341c4199f.zip
  .yarn/cache/yn-npm-3.1.1-8ad4259784-bff63b8056.zip
  packages/cli/.npmignore
  packages/cli/cli.js
  packages/cli/package.json
  packages/cli/scripts/build.ts
  packages/cli/src/BuildCommand.ts
  packages/cli/src/mod.ts
  packages/cli/tsconfig.json
  yarn.lock
Due: yarn lint, yarn typecheck, yarn test

chore: remove renovate
  renovate.json
Due: none

chore: remove renovate (#124)
  renovate.json
Due: none

fix(next-config): trigger publish nex-config
  .github/workflows/release.yaml
  packages/next-config/src/next.config.ts
Due: yarn lint, yarn typecheck, yarn test

fix(next-config): trigger publish nex-config (#125)
  .github/workflows/release.yaml
  packages/next-config/src/next.config.ts
Due: yarn lint, yarn typecheck, yarn test

v0.0.1
  examples/with-next/package.json
  lerna.json
  packages/cli/package.json
  packages/eslint-config/package.json
  packages/hooks/package.json
  packages/next-config/package.json
  packages/react-components/package.json
  packages/rollup-config/package.json
  packages/styles/package.json
  packages/tsconfig/package.json
  packages/types/package.json
  packages/units/package.json
  packages/utils/package.json
  packages/validator/package.json
  packages/webpack-config/package.json
Due: none

v0.0.2
  examples/with-next/package.json
  lerna.json
  packages/cli/package.json
  packages/eslint-config/package.json
  packages/hooks/package.json
  packages/next-config/package.json
  packages/react-components/package.json
  packages/rollup-config/package.json
  packages/styles/package.json
  packages/tsconfig/package.json
  packages/types/package.json
  packages/units/package.json
  packages/utils/package.json
  packages/validator/package.json
  packages/webpack-config/package.json
Due: none

ci: lerna publish from-package => from-git
  package.json
Due: none

feat(cli): add formats option
  packages/cli/src/BuildCommand.ts
  packages/cli/src/readPackageJson.ts
Due: yarn lint, yarn typecheck, yarn test

fix(cli): fix lint error
  packages/cli/package.json
  packages/cli/src/BuildCommand.ts
  packages/cli/src/mod.ts
Due: yarn lint, yarn typecheck, yarn test

feat(cli): add formats option (#127)
  packages/cli/package.json
  packages/cli/src/BuildCommand.ts
  packages/cli/src/mod.ts
  packages/cli/src/readPackageJson.ts
Due: yarn lint, yarn typecheck, yarn test

fix(utils): modify build script
  packages/utils/.npmignore
  packages/utils/package.json
  packages/utils/tsconfig.cjs.json
  packages/utils/tsconfig.esm.json
  packages/utils/tsconfig.json
Due: none

ci: from-git => from-package
  package.json
Due: none

ci: from-git => from-package (#128)
  package.json
Due: none

fix(next-config): fix build format
  .github/workflows/release.yaml
  packages/next-config/.npmignore
  packages/next-config/package.json
Due: none

fix(next-config): fix build format (#129)
  .github/workflows/release.yaml
  packages/next-config/.npmignore
  packages/next-config/package.json
Due: none

fix(utils): fix dependencies
  .pnp.js
  yarn.lock
Due: yarn lint

fix(utils): modify build script (#130)
  .pnp.js
  packages/utils/.npmignore
  packages/utils/package.json
  packages/utils/tsconfig.cjs.json
  packages/utils/tsconfig.esm.json
  packages/utils/tsconfig.json
  yarn.lock
Due: yarn lint

ci: modify lerna version options
  lerna.json
Due: none

ci: modify lerna version options (#131)
  lerna.json
Due: none

chore: publish v0.1.0
  CHANGELOG.md
  examples/with-next/CHANGELOG.md
  examples/with-next/package.json
  lerna.json
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/eslint-config/CHANGELOG.md
  packages/eslint-config/package.json
  packages/hooks/CHANGELOG.md
  packages/hooks/package.json
  packages/next-config/CHANGELOG.md
  packages/next-config/package.json
  packages/react-components/CHANGELOG.md
  packages/react-components/package.json
  packages/rollup-config/CHANGELOG.md
  packages/rollup-config/package.json
  packages/styles/CHANGELOG.md
  packages/styles/package.json
  packages/tsconfig/CHANGELOG.md
  packages/tsconfig/package.json
  packages/types/CHANGELOG.md
  packages/types/package.json
  packages/units/CHANGELOG.md
  packages/units/package.json
  packages/utils/CHANGELOG.md
  packages/utils/package.json
  packages/validator/CHANGELOG.md
  packages/validator/package.json
  packages/webpack-config/CHANGELOG.md
  packages/webpack-config/package.json
Due: textlint

fix: modify npm publish script
  .yarn/patches/@lerna/npm-publish.diff
Due: none

feat(hooks): add useSafeLayoutEffect
  .pnp.js
  .yarn/cache/@babel-core-npm-7.14.3-9181aae4d9-4bc2d1abf5.zip
  .yarn/cache/@babel-generator-npm-7.14.3-3bb0a82750-519fce36f3.zip
  .yarn/cache/@babel-parser-npm-7.14.3-4c3311dd2f-5e8d1b2bfc.zip
  .yarn/cache/@babel-plugin-transform-runtime-npm-7.14.2-c3c6de9b9b-2ae5f26f97.zip
  .yarn/cache/@babel-runtime-npm-7.14.0-fba2a32266-ab6653f2f8.zip
  .yarn/cache/@rollup-plugin-babel-npm-5.3.0-944843ffd9-44efa786f2.zip
  .yarn/cache/@rollup-plugin-node-resolve-npm-13.0.0-c6322a1c60-4b323e8ad5.zip
  .yarn/cache/@rollup-pluginutils-npm-3.1.0-b44b222e7d-45da6411e0.zip
  .yarn/cache/@testing-library-react-hooks-npm-5.1.2-1c7503f518-d1a1cfeb1c.zip
  .yarn/cache/@testing-library-react-hooks-npm-6.0.0-78e13df09c-9c7fd8be18.zip
  .yarn/cache/@types-estree-npm-0.0.39-f898500e96-43e5361de3.zip
  .yarn/cache/@types-react-npm-17.0.6-e56f24c908-dcd8e559f7.zip
  .yarn/cache/@types-resolve-npm-1.17.1-9a8396bef2-8e72a73574.zip
  .yarn/cache/builtin-modules-npm-3.2.0-ef7266e931-f0e7240f70.zip
  .yarn/cache/estree-walker-npm-1.0.1-e916593b23-85e7cee763.zip
  .yarn/cache/is-module-npm-1.0.0-79ba918283-2cbd41e276.zip
  .yarn/cache/rollup-npm-2.48.0-70f984c31b-3f50c1e023.zip
  package.json
  packages/hooks/.babelrc
  packages/hooks/.npmignore
  packages/hooks/package.json
  packages/hooks/rollup.config.js
  packages/hooks/src/mod.ts
  packages/hooks/src/useBoolean.ts
  packages/hooks/src/useSafeLayoutEffect.ts
  packages/hooks/src/useVisible.ts
  packages/hooks/tsconfig.build.json
  packages/hooks/tsconfig.json
  yarn.lock
Due: yarn lint, yarn typecheck, yarn test

fix: modify npm publish script (#132)
  .yarn/patches/@lerna/npm-publish.diff
Due: none

fix: add patch into resolution
  .pnp.js
  .yarn/cache/@lerna-npm-publish-patch-3deafe1136-064f4e54ec.zip
  package.json
  yarn.lock
Due: yarn lint

Path conditions:
  yarn lint: (any of: **/*.js) or (any of: **/*.{ts,tsx})
  textlint: any of: **/*.md
  yarn typecheck: any of: **/*.{ts,tsx}
  yarn test: any of: **/*.{ts,tsx}
